<!DOCTYPE html>
<br>

<!-- Setup scenario -->
<div class="card" ng-if="!current.scenarioStatus">
    <h6 class="card-header">
        {{ 'PLEASE_SELECT_A' | translate }} {{ 'SCENARIO' | translate }}
    </h6>
    <button type="button" class="list-group-item list-group-item-action" ng-repeat="scenario in scenarios | orderBy: ['name']" ng-click="setCurrentScenario(scenario)" ng-if="scenarios.length > 0" ng-class="{'first-list-item': $first}">
        {{scenario.name}}
    </button>
    <div class="card-block card-block-active" ng-if="scenarios.length == 0">
        <span class="text-muted">
            {{ 'NO_SCENARIOS_FOUND' | translate }}
        </span>
    </div>
</div>


<!-- Setup overview -->
<div id="overview" ng-if="current.scenarioStatus">

    <ul class="list-group">

        <!-- Scenario defined -->
        <li class="list-group-item list-group-item-action active">
            <div class="row">
                <div class="col-xs-10">
                    <b>{{ 'SCENARIO' | translate }}</b>: <code>{{current.scenario.name}}</code>
                </div>
                <div class="col-xs-2 right">
                    <button type="button" class="btn btn-sm btn-secondary" ng-click="resetScenario()">
                        {{ 'RESET' | translate }}
                    </button>
                </div>
            </div>
        </li>

        <!-- Location defined -->
        <li class="list-group-item list-group-item-action active" ng-if="current.locationStatus">
            <div class="row" >
                <div class="col-xs-10">
                    <b>{{ 'LOCATION' | translate }}</b>: <code>{{current.location.name}}</code>
                </div>
                <div class="col-xs-2 right">
                    <button type="button" class="btn btn-sm btn-secondary" ng-click="resetLocation()">
                        {{ 'RESET' | translate }}
                    </button>
                </div>
            </div>
        </li>
    </ul>
    <br>
</div>


<!-- Setup start location -->
<div class="card" ng-if="current.scenarioStatus && !current.locationStatus">
    <h6 class="card-header">
        {{ 'PLEASE_SELECT_A' | translate }} {{ 'START_LOCATION' | translate }}
    </h6>
    <button type="button" class="list-group-item list-group-item-action" ng-repeat="location in locations | orderBy: ['name']" ng-click="setCurrentLocation(location)" ng-if="locations.length > 0" ng-class="{'first-list-item': $first}">
        {{location.name}}
    </button>
    <div class="card-block card-block-active" ng-if="locations.length == 0">
        <span class="text-muted">
            {{ 'NO_LOCATIONS_FOUND' | translate }}
        </span>
    </div>
</div>


<!-- Select connected locations -->
<div class="card" ng-if="current.scenarioStatus && current.locationStatus">
    <h6 class="card-header">
        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'CONNECTED_LOCATIONS' | translate }}
    </h6>
    <button type="button" class="list-group-item list-group-item-action" ng-repeat="connected_location in connected_locations | orderBy: ['name']" ng-click="setCurrentLocation(connected_location)" ng-if="connected_locations.length > 0" ng-class="{'first-list-item': $first}">
        {{connected_location.name}}
    </button>
    <div class="card-block card-block-active" ng-if="connected_locations.length == 0">
        <span class="text-muted">
            {{ 'NO_CONNECTED_LOCATIONS_FOUND' | translate }}
        </span>
    </div>
</div>


<!-- Select video -->
<div class="card" ng-if="current.scenarioStatus && current.locationStatus">
    <h6 class="card-header">
        <i class="fa fa-file-video-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'VIDEOS' | translate }}
    </h6>
    <button type="button" class="list-group-item list-group-item-action" ng-repeat="video in videos | orderBy: ['name']" ng-click="setCurrentVideo(video)" ng-class="{'active': current.video.video_id == video.video_id}">
        {{video.name}}
    </button>
    <div class="card-block card-block-active" ng-if="videos.length == 0">
        <span class="text-muted">
            {{ 'NO_VIDEOS_FOUND' | translate }}
        </span>
    </div>
</div>


<!-- Toggle overlays -->
<div class="card" ng-if="current.scenarioStatus && current.locationStatus">
    <h6 class="card-header">
        <i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'OVERLAYS' | translate }}
    </h6>
    <button type="button" class="list-group-item list-group-item-action" ng-repeat="overlay in overlays | orderBy: ['name']" ng-click="toggleOverlay(overlay)" ng-class="{'first-list-item': $first}">
        <div class="row">
            <div class="col-xs-10">{{overlay.name}}</div>
            <div class="col-xs-2 right">
                <span ng-if="overlay.display" class="text-success">
                    <i class="fa fa-toggle-on" aria-hidden="true"></i>
                </span>
                <span ng-if="!overlay.display">
                    <i class="fa fa-toggle-off" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </button>
    <div class="card-block card-block-active" ng-if="overlays.length == 0">
        <span class="text-muted">
            {{ 'NO_OVERLAYS_FOUND' | translate }}
        </span>
    </div>
</div>
