<!-- Setup scenario -->
<div class="card" ng-if="!current.scenario">
    <h5 class="card-header">
        {{ 'PLEASE_SELECT_A' | translate }} {{ 'SCENARIO' | translate }}
    </h5>
    <a role="button" class="list-group-item list-group-item-action" ng-repeat="scenario in scenarios | orderBy: ['name']" ng-click="onSelectScenario(scenario)" ng-if="scenarios.length > 0" ng-class="{'active': current.scenario.scenario_id == scenario.scenario_id }">
        {{scenario.name}}
    </a>
    <div class="card-block card-block-active" ng-if="scenarios.length == 0">
        <span class="text-muted">
            {{ 'NO_SCENARIOS_FOUND' | translate }}
        </span>
    </div>
</div>

<!-- Scenario defined -->
<div ng-if="current.scenario">
    <div class="card">
        <a role="button" ng-click="toggleScenarios()">
            <h5 class="card-header d-flex justify-content-between">
                <span>
                    {{ 'CHANGE_CURRENT' | translate }} {{ 'SCENARIO' | translate }}
                </span>
                <span ng-if="!current.scenarioStatus">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </span>
                <span ng-if="current.scenarioStatus">
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                </span>
            </h5>
        </a>
        <a role="button" class="list-group-item list-group-item-action" ng-repeat="scenario in scenarios | orderBy: ['name']" ng-click="onSelectScenario(scenario)" ng-class="{'active': current.scenario.scenario_id == scenario.scenario_id }" ng-if="current.scenarioStatus">
            {{scenario.name}}
        </a>
    </div>
    <br>
</div>

<!-- Setup start location -->
<div ng-if="current.scenario && !current.location">
    <div class="card">
        <h5 class="card-header">
            {{ 'PLEASE_SELECT_A' | translate }} {{ 'START_LOCATION' | translate }}
        </h5>
        <a role="button" class="list-group-item list-group-item-action" ng-repeat="location in locations | orderBy: ['name']" ng-click="onSelectLocation(location)" ng-if="locations.length > 0" ng-class="{'active': current.location.location_id == location.location_id }">
            {{location.name}}
        </a>
        <div class="card-block card-block-active" ng-if="locations.length == 0">
            <span class="text-muted">
                {{ 'NO_LOCATIONS_FOUND' | translate }}
            </span>
        </div>
    </div>
    <br>
</div>

<!-- Location defined -->
<div ng-if="current.scenario && current.location">
    <div class="card">
        <a role="button" ng-click="toggleLocations()">
            <h5 class="card-header d-flex justify-content-between">
                <span>
                    {{ 'CHANGE_CURRENT' | translate }} {{ 'LOCATION' | translate }}
                </span>
                <span ng-if="!current.locationStatus">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </span>
                <span ng-if="current.locationStatus">
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                </span>
            </h5>
        </a>
        <a role="button" class="list-group-item list-group-item-action" ng-repeat="location in locations | orderBy: ['name']" ng-click="onSelectLocation(location)" ng-class="{'active': current.location.location_id == location.location_id }" ng-if="current.locationStatus">
            {{location.name}}
        </a>
    </div>
    <br>
</div>


<!-- Select connected locations -->
<div ng-if="current.scenario && current.location">
    <div class="card">
        <h5 class="card-header">
            {{ 'CONNECTED_LOCATIONS' | translate }}
        </h5>
        <a role="button" class="list-group-item list-group-item-action" ng-repeat="connected_location in connected_locations | orderBy: ['name']" ng-click="onSelectLocation(connected_location)" ng-if="connected_locations.length > 0">
            {{connected_location.name}}
        </a>
        <div class="card-block card-block-active" ng-if="connected_locations.length == 0">
            <span class="text-muted">
                {{ 'NO_CONNECTED_LOCATIONS_FOUND' | translate }}
            </span>
        </div>
    </div>
    <br>
</div>


<!-- Select transition -->
<div ng-if="current.scenario && current.location">
    <div class="card">
        <h5 class="card-header">
            {{ 'CONNECTED_TRANSITIONS' | translate }}
        </h5>
        <a role="button" class="list-group-item list-group-item-action" ng-repeat="connected_transition in connected_transitions | orderBy: ['name']" ng-click="setCurrentLocation(connected_transition)" ng-if="connected_transitions.length > 0">
            {{connected_transition.name}}
        </a>
        <div class="card-block card-block-active" ng-if="connected_transitions.length == 0">
            <span class="text-muted">
                {{ 'NO_CONNECTED_TRANSITIONS_FOUND' | translate }}
            </span>
        </div>
    </div>
    <br>
</div>


<!-- Select video -->
<div ng-if="current.scenario && current.location">
    <div class="card">
        <h5 class="card-header">
            {{ 'VIDEOS' | translate }}
        </h5>
        <a role="button" class="list-group-item list-group-item-action" ng-repeat="video in videos | orderBy: ['name']" ng-click="onSelectVideo(video)" ng-class="{'active': current.video.video_id == video.video_id}" ng-if="videos.length > 0">
            {{video.name}}
        </a>
        <div class="card-block card-block-active" ng-if="videos.length == 0">
            <span class="text-muted">
                {{ 'NO_VIDEOS_FOUND' | translate }}
            </span>
        </div>
    </div>
    <br>
</div>


<!-- Toggle overlays -->
<div ng-if="current.scenario && current.location && current.video">
    <div class="card">
        <h5 class="card-header">
            {{ 'OVERLAYS' | translate }}
        </h5>
        <a role="button" class="list-group-item list-group-item-action" ng-repeat="overlay in overlays | orderBy: ['overlay_id']" ng-click="toggleOverlay(overlay)" ng-if="overlays.length > 0">
            <div class="d-flex w-100 justify-content-between">
                {{overlay.name}}
                <span ng-if="overlay.display" class="text-success">
                    <i class="fa fa-toggle-on" aria-hidden="true"></i>
                </span>
                <span ng-if="!overlay.display">
                    <i class="fa fa-toggle-off" aria-hidden="true"></i>
                </span>
            </div>
        </a>
        <a role="button" class="list-group-item list-group-item-action" ng-click="togglePointingOverlay()">
            <div class="d-flex w-100 justify-content-between">
                Pointing overlay
                <span ng-if="pointingOverlay.display" class="text-success">
                    <i class="fa fa-toggle-on" aria-hidden="true"></i>
                </span>
                <span ng-if="!pointingOverlay.display">
                    <i class="fa fa-toggle-off" aria-hidden="true"></i>
                </span>
            </div>
        </a>
        <div class="card-block card-block-active" ng-if="overlays.length == 0">
            <span class="text-muted">
                {{ 'NO_OVERLAYS_FOUND' | translate }}
            </span>
        </div>
    </div>
    <br>
</div>
