<!DOCTYPE html>
<br>

<!-- Setup scenario -->
<div class="card" ng-if="!current.scenario">
    <h5 class="card-header">
        {{ 'PLEASE_SELECT_A' | translate }} {{ 'SCENARIO' | translate }}
    </h5>
    <button type="button" class="list-group-item list-group-item-action" ng-repeat="scenario in scenarios | orderBy: ['name']" ng-click="setCurrentScenario(scenario)" ng-if="scenarios.length > 0" ng-class="{'active': current.scenario.scenario_id == scenario.scenario_id }">
        {{scenario.name}}
    </button>
    <div class="card-block card-block-active" ng-if="scenarios.length == 0">
        <span class="text-muted">
            {{ 'NO_SCENARIOS_FOUND' | translate }}
        </span>
    </div>
</div>

<!-- Scenario defined -->
<div class="card" ng-if="current.scenario">
    <a href="#" class="link" ng-click="toggleScenarios()">
        <h5 class="card-header">
            <span ng-if="!current.scenarioStatus">
                <span class="float-xs-right">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </span>
                {{ 'SCENARIO' | translate }}
            </span>
            <span ng-if="current.scenarioStatus">
                <span class="float-xs-right">
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                </span>
                {{ 'CHANGE_CURRENT' | translate }} {{ 'SCENARIO' | translate }}
            </span>
        </h5>
    </a>
    <button type="button" class="list-group-item list-group-item-action" ng-repeat="scenario in scenarios | orderBy: ['name']" ng-click="setCurrentScenario(scenario)" ng-class="{'active': current.scenario.scenario_id == scenario.scenario_id }" ng-if="current.scenarioStatus">
        {{scenario.name}}
    </button>
</div>


<!-- Setup start location -->
<div class="card" ng-if="current.scenario && !current.location">
    <h5 class="card-header">
        {{ 'PLEASE_SELECT_A' | translate }} {{ 'START_LOCATION' | translate }}
    </h5>
    <button type="button" class="list-group-item list-group-item-action" ng-repeat="location in locations | orderBy: ['name']" ng-click="setCurrentLocation(location)" ng-if="locations.length > 0" ng-class="{'active': current.location.location_id == location.location_id }">
        {{location.name}}
    </button>
    <div class="card-block card-block-active" ng-if="locations.length == 0">
        <span class="text-muted">
            {{ 'NO_LOCATIONS_FOUND' | translate }}
        </span>
    </div>
</div>

<!-- Location defined -->
<div class="card" ng-if="current.scenario && current.location">
    <a href="#" class="link" ng-click="toggleLocations()">
        <h5 class="card-header">
            <span ng-if="!current.locationStatus">
                <span class="float-xs-right">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </span>
                {{ 'LOCATION' | translate }}
            </span>
            <span ng-if="current.locationStatus">
                <span class="float-xs-right">
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                </span>
                {{ 'CHANGE_CURRENT' | translate }} {{ 'LOCATION' | translate }}
            </span>
        </h5>
    </a>
    <button type="button" class="list-group-item list-group-item-action" ng-repeat="location in locations | orderBy: ['name']" ng-click="setCurrentLocation(location)" ng-class="{'active': current.location.location_id == location.location_id }" ng-if="current.locationStatus">
        {{location.name}}
    </button>
</div>


<!-- Select connected locations -->
<div class="card" ng-if="current.scenario && current.location">
    <h5 class="card-header">
        {{ 'CONNECTED_LOCATIONS' | translate }}
    </h5>
    <button type="button" class="list-group-item list-group-item-action" ng-repeat="connected_location in connected_locations | orderBy: ['name']" ng-click="setCurrentLocation(connected_location)" ng-if="connected_locations.length > 0">
        {{connected_location.name}}
    </button>
    <div class="card-block card-block-active" ng-if="connected_locations.length == 0">
        <span class="text-muted">
            {{ 'NO_CONNECTED_LOCATIONS_FOUND' | translate }}
        </span>
    </div>
</div>


<!-- Select video -->
<div class="card" ng-if="current.scenario && current.location">
    <h5 class="card-header">
        {{ 'VIDEOS' | translate }}
    </h5>
    <button type="button" class="list-group-item list-group-item-action" ng-repeat="video in videos | orderBy: ['name']" ng-click="setCurrentVideo(video)" ng-class="{'active': current.video.video_id == video.video_id}" ng-if="videos.length > 0">
        {{video.name}}
    </button>
    <div class="card-block card-block-active" ng-if="videos.length == 0">
        <span class="text-muted">
            {{ 'NO_VIDEOS_FOUND' | translate }}
        </span>
    </div>
</div>


<!-- Toggle overlays -->
<div class="card" ng-if="current.scenario && current.location">
    <h5 class="card-header">
        {{ 'OVERLAYS' | translate }}
    </h5>
    <button type="button" class="list-group-item list-group-item-action" ng-repeat="overlay in overlays | orderBy: ['name']" ng-click="toggleOverlay(overlay)" ng-if="overlays.length > 0">
        <span class="float-xs-right">
            <span ng-if="overlay.display" class="text-success">
                <i class="fa fa-toggle-on" aria-hidden="true"></i>
            </span>
            <span ng-if="!overlay.display">
                <i class="fa fa-toggle-off" aria-hidden="true"></i>
            </span>
        </span>
        {{overlay.name}}
    </button>
    <div class="card-block card-block-active" ng-if="overlays.length == 0">
        <span class="text-muted">
            {{ 'NO_OVERLAYS_FOUND' | translate }}
        </span>
    </div>
</div>
