---
layout: default
---

<div class="posts">
    {% for post in site.posts %}
        {% assign author = site.data.authors[post.author] %}
        <article class="post">
            <h1>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                <div class="time" style="float: right;">
                    {{ post.date | date: "%Y-%m-%d" }}
                </div>
            </h1>

            <div class="entry">
                {{ post.excerpt }}
            </div>

            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;READ MORE
            </a>

            <div class="author">
                written by <b>{{ author.fullname }}</b>
                    {% if author.github %}
                        <a href="https://github.com/{{ author.github }}" target="_blank" class="link">
                            <i class="fa fa-github-alt" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                    {% if author.twitter %}
                        <a href="https://twitter.com/{{ author.twitter }}" target="_blank" class="link">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    {% endif %}
            </div>
        </article>
    {% endfor %}
</div>
