<!DOCTYPE html>
<!-- LOADING -->
<div class="loading" ng-show="tab==0">
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
</div>

<!-- MAIN -->
<div class="row" ng-show="tab>0">
    <!-- Left padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>

    <!-- Content -->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8" ng-show="tab==1">
        <br>

        <!-- BUTTONS -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 right">
                <div class="btn-group" role="group" aria-label="buttons">
                    <button type="button" class="btn btn-secondary" ng-click="redirect('/relationship/parent_location/' + relationship.relationship_id + '/edit')" disabled>
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'EDIT' | translate}}
                    </button>
                </div>
            </div>
        </div>
        <br>

        <!-- MAIN -->
        <div class="card">
            <div class="card-header middle" style="font-size: 20pt;">
                <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'RELATIONSHIP' | translate }}
            </div>
            <br>
            <div class="list-group list-group-flush">
                <div class="list-group-item justify-content-between">
                    <div>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.child_location_name}}
                        <span class="badge" ng-class="{
                            'badge-primary': relationship.child_location_type=='outdoor',
                            'badge-default': relationship.child_location_type=='indoor',
                            'badge-success': relationship.child_location_type=='abstract'
                        }">{{relationship.child_location_type}}</span>
                    </div>
                    <div>
                        <b>-:PARENT_LOCATION-&gt;</b>
                    </div>
                    <div>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.parent_location_name}}
                        <span class="badge" ng-class="{
                            'badge-primary': relationship.parent_location_type=='outdoor',
                            'badge-default': relationship.parent_location_type=='indoor',
                            'badge-success': relationship.parent_location_type=='abstract'
                        }">{{relationship.parent_location_type}}</span>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <br>
                <h5>
                    {{ 'ARE_YOU_SURE_YOU_WANT_TO_DELETE_THIS' | translate }} {{ 'RELATIONSHIP' | translate }}?
                </h5>
                <br>
                <label>
                    <b>{{ 'TYPE' | translate }}</b> <small>({{ 'EXAMPLE' | translate }}: <code>RELATED_TO</code>)</small>
                </label>
                <input type="text" class="form-control" ng-model="input" id="name" placeholder="{{ 'TYPE' | translate }}" autofocus>
                <small class="form-text text-muted">
                    {{ 'PLEASE_TYPE_IN_THE_TYPE_OF_THIS' | translate }} {{ 'RELATIONSHIP' | translate }} {{ 'TO_CONFIRM' | translate }}
                </small>
                <br>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <button class="btn btn-secondary btn-block" role="button" ng-click="redirect('/relationship/parent_location/' + relationship.relationship_id)">
                            <i class="fa fa-ban" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'CANCEL' | translate }}
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <button class="btn btn-danger btn-block" role="button" ng-click="delete()" ng-disabled="input != relationship_type">
                            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'DELETE' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Right padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>
</div>
<br>
