html, body {
    height: 100vh;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

header, footer {
    flex: 0 0 auto;
}

main {
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 5px;
    padding-right: 5px;
}

footer {
    line-height: 60px;
    border-top: 1px solid #f5f5f5;
}


.left {
    text-align: left;
}
.middle {
    text-align: center;
}
.right {
    text-align: right;
}
