html, body, .fluid-container {
    height: 100%;
}

body {
    background-color: #000000;
    color: #FFFFFF;
}

h2 {
    font-weight: normal;
}

.flexbox-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    text-align: center;
    justify-content: center;
}


.videogular-container {
	width: 100%;
}
