<!DOCTYPE html>
<div class="card">

    <form class="form-horizontal" name="createRelationshipForm" ng-submit="send()">

        <div class="card-header" style="font-size: 20pt;">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                    <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'NEW_RELATIONSHIP' | translate }}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 right">
                    <button class="btn btn-danger" type="button" ng-click="redirect('/create/belongs_to/relationship')">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="row">

                <!-- (Location) -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-if="relationship_type=='location'">
                    <label>
                        <b><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{ '_LOCATION' | translate }}</b> <sup class="text-danger">*</sup>
                    </label>
                    <br>
                    <div class="form-group" ng-class="{'has-danger': createRelationshipForm.location_id.$invalid && !createRelationshipForm.location_id.$pristine}">
                        <select
                            class="custom-select form-control"
                            id="location_id"
                            name="location_id"
                            ng-model="relationship.location_id"
                            ng-options="location.location_id as location.name group by location.location_type for location in locations | orderBy:['name']"
                            required>
                        </select>
                        <span ng-show="createRelationshipForm.location_id.$error.required && !createRelationshipForm.location_id.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <div ng-if="(relationship.location_id|findLocationById:locations).lat !== null && (relationship.location_id|findLocationById:locations).lng !== null">
                        <img class="previewMap" ng-src="{{ relationship.location_id | findLocationById:locations | previewMapRequest }}" alt="{{(relationship.location_id|findLocationById:locations).name}}" style="width: 100%; height: auto;">
                        <br>
                    </div>
                    <br>
                </div>

                <!-- (Video) -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-if="relationship_type=='video'">
                    <label>
                        <b><i class="fa fa-file-video-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ '_VIDEO' | translate }}</b> <sup class="text-danger">*</sup>
                    </label>
                    <br>
                    <div class="form-group" ng-class="{'has-danger': createRelationshipForm.video_id.$invalid && !createRelationshipForm.video_id.$pristine}">
                        <select
                            class="custom-select form-control"
                            id="video_id"
                            name="video_id"
                            ng-model="relationship.video_id"
                            ng-options="video.video_id as video.name for video in videos | orderBy:['name']"
                            required>
                        </select>
                        <span ng-show="createRelationshipForm.video_id.$error.required && !createRelationshipForm.video_id.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                </div>

                <!-- (Overlay) -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-if="relationship_type=='overlay'">
                    <label>
                        <b><i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ '_OVERLAY' | translate }}</b> <sup class="text-danger">*</sup>
                    </label>
                    <br>
                    <div class="form-group" ng-class="{'has-danger': createRelationshipForm.overlay_id.$invalid && !createRelationshipForm.overlay_id.$pristine}">
                        <select
                            class="custom-select form-control"
                            id="overlay_id"
                            name="overlay_id"
                            ng-model="relationship.overlay_id"
                            ng-options="overlay.overlay_id as overlay.name for overlay in overlays | orderBy:['name']"
                            required>
                        </select>
                        <span ng-show="createRelationshipForm.overlay_id.$error.required && !createRelationshipForm.overlay_id.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 middle">
                    <span class="badge badge-pill badge-default">
                        &mdash;&nbsp;BELONGS_TO&nbsp;&mdash;&gt;
                    </span>
                    <br>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b><i class="fa fa-flask" aria-hidden="true"></i>&nbsp;&nbsp;{{ '_SCENARIO' | translate }}</b> <sup class="text-danger">*</sup>
                    </label>
                    <br>
                    <div class="form-group" ng-class="{'has-danger': createRelationshipForm.scenario_id.$invalid && !createRelationshipForm.scenario_id.$pristine}">
                        <select
                            class="custom-select form-control"
                            id="scenario_id"
                            name="scenario_id"
                            ng-model="relationship.scenario_id"
                            ng-options="scenario.scenario_id as scenario.name for scenario in scenarios | orderBy:['name']"
                            required>
                        </select>
                        <span ng-show="createRelationshipForm.scenario_id.$error.required && !createRelationshipForm.scenario_id.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-footer right">
            <button class="btn btn-success" type="submit">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SEND' | translate }}
            </button>
        </div>

    </form>
</div>
