<!DOCTYPE html>
<div class="card">
    <div class="card-header" style="font-size: 20pt;">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <i class="fa fa-file-video-o" aria-hidden="true"></i>&nbsp;&nbsp;{{video.name}}
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 right">
                <div class="btn-group">
                    <button class="btn btn-info" type="button" ng-click="redirect('/videos/' + video.video_id + '/edit')">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-danger" type="button" ng-click="redirect('/videos/' + video.video_id + '/delete')">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </div>
                <button class="btn btn-danger" type="button" ng-click="redirect('/videos')">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div ng-if="video.thumbnails > 0">
            <h6>{{ 'PREVIEW' | translate }}</h6>
            <img class="previewVideo" ng-src="{{ video | previewVideo }}" alt="{{video.name}}" style="max-width: 100%; height: auto;">
            <br>
            <br>
        </div>

        <h6>{{ 'PROPERTIES' | translate }}</h6>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>
                        {{ 'ID' | translate }}
                    </th>
                    <td>
                        <kbd>{{video.video_id}}</kbd>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ 'UUID' | translate }}
                    </th>
                    <td>
                        <code class="uuid" ngclipboard data-clipboard-text="{{video.video_uuid}}">
                            {{video.video_uuid}}
                        </code>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ 'NAME' | translate }}
                    </th>
                    <td>
                        <kbd>{{video.name}}</kbd>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ 'DESCRIPTION' | translate }}
                    </th>
                    <td>
                        <kbd ng-if="video.description != null && video.description != '' ">{{video.description}}</kbd>
                        <span class="text-muted" ng-if="video.description == null || video.description == '' ">-</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ 'URL' | translate }}
                    </th>
                    <td>
                        <kbd>{{video.url}}</kbd> <kbd>.mp4 | .ogg</kbd>
                        <a href="/videos/{{video.url}}.mp4" target="_blank">🚀</a>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ 'RECORDED' | translate }}
                    </th>
                    <td>
                        <kbd ng-if="video.recorded != null && video.recorded != '' ">{{video.recorded}}</kbd>
                        <span class="text-muted" ng-if="video.recorded == null || video.recorded == '' ">-</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ 'CREATED' | translate }}
                    </th>
                    <td>
                        <kbd>{{video.created | timestamp }}</kbd>
                    </td>
                </tr>
                <tr style="border-bottom: 1px solid #eceeef">
                    <th>
                        {{ 'LAST_UPDATED' | translate }}
                    </th>
                    <td>
                        <kbd>{{video.updated | timestamp }}</kbd>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- recordedAt-Locationship -->
    <div class="list-group list-group-flush" ng-if="video.locations.length==0">
        <div class="list-group-item">
            - {{ 'NO' | translate }} {{ 'RELATED' | translate }} {{ 'LOCATIONS'  | translate }} -
        </div>
    </div>
    <div class="list-group list-group-flush" ng-if="video.locations.length>0">
        <a href="" class="list-group-item list-group-item-action d-flex justify-content-between" ng-click="toggle('relatedLocations')">
            <span ng-if="!relatedLocations">
                <b>{{ 'SHOW' | translate }} {{ 'RELATED' | translate }} {{ 'LOCATIONS' | translate }}</b>
            </span>
            <span ng-if="!relatedLocations">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </span>
            <span ng-if="relatedLocations">
                <b>{{ 'HIDE' | translate }} {{ 'RELATED' | translate }} {{ 'LOCATIONS' | translate }}</b>
            </span>
            <span ng-if="relatedLocations">
                <i class="fa fa-caret-up" aria-hidden="true"></i>
            </span>
        </a>
    </div>
    <div class="list-group list-group-flush" ng-if="video.locations.length>0 && relatedLocations">
        <a href="" class="list-group-item list-group-item-action" ng-repeat="location in video.locations" ng-click="redirect('/locations/' + location.location_id)">
            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{location.name}}
        </a>
    </div>

</div>
