<!DOCTYPE html>
<!-- LOADING -->
<div class="loading" ng-show="tab==0">
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
</div>

<!-- MAIN -->
<div class="row" ng-show="tab>0">
    <!-- Left padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>

    <!-- Content -->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8" ng-show="tab==1">
        <br>

        <!-- MAIN -->
        <div class="card">
            <form class="form-horizontal" name="createRelationshipForm" ng-submit="send()">
                <div class="card-header middle" style="font-size: 20pt;">
                    <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'CREATE_NEW' | translate }} {{ 'RELATIONSHIP' | translate }}
                </div>
                <div class="card-block">
                    <br>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label>
                                <b>{{ 'FILTER' | translate }} {{ 'LOCATIONS' | translate }} {{ 'BY' | translate }} {{ 'SCENARIO' | translate }}</b>
                            </label>
                            <br>
                            <select class="custom-select form-control" ng-change="updateDropdown('child_locations')" ng-model="childLocationDropdown.scenario_id" autofocus>
                                <optgroup label="{{ 'DEFAULT' | translate }}">
                                    <option value="" selected>
                                        {{ 'ALL' | translate }}
                                    </option>
                                </optgroup>
                                <optgroup label="{{ '_SCENARIOS' | translate }}">
                                    <option ng-repeat="scenario in scenarios | orderBy: ['name']" value="{{scenario.scenario_id}}">
                                        {{ scenario.name }}
                                    </option>
                                </optgroup>
                            </select>
                            <br>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label>
                                <b>{{ 'FILTER' | translate }} {{ 'LOCATIONS' | translate }} {{ 'BY' | translate }} {{ 'SCENARIO' | translate }}</b>
                            </label>
                            <br>
                            <select class="custom-select form-control" ng-change="updateDropdown('parent_locations')" ng-model="parentLocationDropdown.scenario_id">
                                <optgroup label="{{ 'DEFAULT' | translate }}">
                                    <option value="" selected>
                                        {{ 'ALL' | translate }}
                                    </option>
                                </optgroup>
                                <optgroup label="{{ '_SCENARIOS' | translate }}">
                                    <option ng-repeat="scenario in scenarios | orderBy: ['name']" value="{{scenario.scenario_id}}">
                                        {{ scenario.name }}
                                    </option>
                                </optgroup>
                            </select>
                            <br>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label>
                                <b><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'CHILD_LOCATION' | translate }}*</b>
                            </label>
                            <br>
                            <div class="form-group" ng-class="{'has-danger': createRelationshipForm.child_location_id.$invalid && !createRelationshipForm.child_location_id.$pristine}">
                                <select
                                    class="custom-select form-control"
                                    id="child_location_id"
                                    name="child_location_id"
                                    ng-model="relationship.child_location_id"
                                    ng-disabled="childLocationDropdown.status"
                                    ng-options="location.location_id as location.name group by location.location_type for location in child_locations | orderBy:['name']"
                                    required>
                                </select>
                                <span ng-show="createRelationshipForm.child_location_id.$error.required && !createRelationshipForm.child_location_id.$pristine" class="text-danger">
                                    <small>
                                        {{ 'REQUIRED' | translate }}
                                    </small>
                                </span>
                            </div>
                            <br>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 middle">
                            <span class="badge badge-pill badge-default">
                                &mdash;&nbsp;HAS_PARENT_LOCATION&nbsp;&mdash;&gt;
                            </span>
                            <br>
                            <br>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label>
                                <b><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'PARENT_LOCATION' | translate }}*</b>
                            </label>
                            <br>
                            <div class="form-group" ng-class="{'has-danger': createRelationshipForm.parent_location_id.$invalid && !createRelationshipForm.parent_location_id.$pristine}">
                                <select
                                    class="custom-select form-control"
                                    id="parent_location_id"
                                    name="parent_location_id"
                                    ng-disabled="parentLocationDropdown.status"
                                    ng-model="relationship.parent_location_id"
                                    ng-options="location.location_id as location.name group by location.location_type for location in parent_locations | orderBy:['name']"
                                    required>
                                </select>
                                <span ng-show="createRelationshipForm.parent_location_id.$error.required && !createRelationshipForm.parent_location_id.$pristine" class="text-danger">
                                    <small>
                                        {{ 'REQUIRED' | translate }}
                                    </small>
                                </span>
                            </div>
                            <br>
                        </div>
                    </div>
                    <br>

                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-secondary btn-block" role="button" ng-click="redirect('/relationship/has_parent_location')">
                                <i class="fa fa-ban" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'CANCEL' | translate }}
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-success btn-block" role="submit">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SEND' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Right padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>
</div>
<br>
