html, body {
    height: 100vh;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

header, footer {
    flex: 0 0 auto;
}

main {
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

footer {
    border-top: 1px solid #f5f5f5;
}

footer > nav {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

footer > nav > ul {
    margin-left: 5px;
}

footer > .settings {
    color: #FFFFFF;
}

.link:hover {
    text-decoration: none;
}

.link > div > p {
    color: #000000;
}

.left {
    text-align: left;
}
.middle {
    text-align: center;
}
.right {
    text-align: right;
}

#overview > .list-group > .list-group-item.active,
#overview > .list-group > .list-group-item.active:focus,
#overview > .list-group > .list-group-item.active:hover {
    border: 1px solid #FFFFFF;
}

 #flipTextarea, #flipRating {
     padding: 5px;
}

 #ratingArea, #comment, #feedbackSubmitBtn {
     display: none;
}