<!DOCTYPE html>
<!-- LOADING -->
<div class="loading" ng-show="tab==0">
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
</div>

<!-- MAIN -->
<div class="row" ng-show="tab>0">
    <!-- Left padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>

    <!-- Content -->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8" ng-show="tab==1">
        <br>
        
        <!-- SEARCH -->
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}" ng-model="searchText">
            <span class="input-group-btn" ng-if="searchText">
                <a href="" class="btn btn-secondary" ng-click="resetSearch()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </span>
        </div>
        <small class="form-text text-muted">{{ 'SEARCH_FOR' | translate }} {{ 'VIDEOS' | translate }}</small>
        <br>

        <div class="middle" ng-if="!videos">
            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        </div>
        <div class="middle" ng-if="videos && videos.length==0">
            - {{ 'NO' | translate }} {{ 'VIDEOS' | translate }} {{ 'FOUND' | translate }} -
        </div>
        <div class="list-group" ng-if="videos && videos.length>0">
            <a href="" ng-click="redirect('/videos/' + video.video_id)" class="list-group-item list-group-item-action" ng-repeat="video in videos | filter: searchText">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {{video.name}}
                    </div>
                </div>
            </a>
        </div>
        <br>
        <br>
    </div>

    <!-- Right padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>
</div>
<br>
