<div class="row">

    <div class="col-md-6 col-center">
        <h2>Create a new Overlay: </h2>
        <hr>
        <div class="form-group row">
            <label for="name-input" class="col-2 col-form-label">Name:</label>
            <div class="col-10">
                <input class="form-control" type="text" ng-model="newOverlay.name" placeholder="e.g. 'Main Station Overlay'" id="name-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="desc-input" class="col-2 col-form-label">Description:</label>
            <div class="col-10">
                <input class="form-control" type="text" ng-model="newOverlay.description" placeholder="e.g. 'A overlay for the Münster Main Station'"
                    id="desc-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="tags-input" class="col-2 col-form-label">Tags:</label>
            <div class="col-10">
                <input class="form-control" type="text" ng-model="newOverlay.tags" placeholder="e.g. '#muenster, #sitcom'' (optional)" id="tags-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="url-input" class="col-2 col-form-label">Link (URL):</label>
            <div class="col-10">
                <input class="form-control" type="text" ng-model="newOverlay.url" placeholder="e.g. 'http://www.google.de/'" id="url-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="overlay_type-input" class="col-3 col-form-label">Overlay type:</label>
            <div class="col-9 dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                        {{newOverlay.category === "" ? 'Click to select a category' : newOverlay.category}}
                        </button>
                <div class="col-9 dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" ng-click="newOverlay.category = 'picture'">Picture</a>
                    <a class="dropdown-item" href="#" ng-click="newOverlay.category = 'website'">Website</a>
                    <a class="dropdown-item" href="#" ng-click="newOverlay.category = 'other'">Other</a>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-secondary float-left" ng-click="redirect('/overlays')"><i class="fa fa-caret-left" aria-hidden="true"></i> Cancel</button>
        <button type="submit" class="btn btn-secondary float-right" ng-click="submit()">Create Overlay <i class="fa fa-caret-right" aria-hidden="true"></i></button>
    </div>

</div>
</div>