html, body, main {
    height: 100%;
}

body {
    background-color: #000000;
    color: #FFFFFF;
}

h2 {
    font-weight: normal;
}

.left {
    text-align: left;
}
.middle {
    text-align: center;
}
.right {
    text-align: right;
}

.flexbox-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    text-align: center;
    justify-content: center;
}

#video-container {
    z-index: 0;
    position: absolute;
    width: 100%;
}

#overlay-container {
    z-index: 50;
}

.feedback-container {
    display: flex;
    position: fixed;
}
.feedback-container > div {
    flex: 1; /*grow*/

}


#feedback-container-left{
    background-color: #01ff70;


}

#feedback-container-center{

}

#feedback-container-right{

}


div{
    border-style: hidden;
    border-color: coral;
}

/*for feedback table*/
table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
    text-align: center;

}
table tr:nth-child(odd) {
    background-color: black;
    width: 100%;

}
table tr:nth-child(even) {
    background-color: black;

}

