<!DOCTYPE html>
<br>

<!-- BUTTONS -->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"></div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 right">
        <div class="btn-group" role="group" aria-label="buttons">
            <a href="" class="btn btn-danger" ng-click="redirect('/relationship/belongs_to/' + label + '/' + relationship.relationship_id + '/delete')">
                <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'DELETE' | translate}}
            </a>
        </div>
    </div>
</div>
<br>

<!-- MAIN  -->
<div class="card">

    <form class="form-horizontal" name="editRelationshipForm" ng-submit="send()">

        <!-- (Location) -->
        <div ng-if="label=='location'">
            <div class="card-header middle" style="font-size: 20pt;">
                <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;{{ '_RELATIONSHIP' | translate }}
            </div>
            <br>
            <div class="list-group list-group-flush">
                <div class="list-group-item justify-content-between">
                    <div>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.location_name}}
                        <span class="badge" ng-class="{
                            'badge-primary': relationship.location_type=='outdoor',
                            'badge-default': relationship.location_type=='indoor',
                            'badge-success': relationship.location_type=='abstract'
                        }">{{relationship.location_type}}</span>
                    </div>
                    <div>
                        <span class="badge badge-pill badge-default">
                            &mdash;&nbsp;BELONGS_TO&nbsp;&mdash;&gt;
                        </span>
                    </div>
                    <div>
                        <i class="fa fa-flask" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.scenario_name}}
                    </div>
                </div>
            </div>
            <div class="card-block">
                <br>
                - {{ 'NO' | translate }} {{ 'PROPERTIES' | translate }} -
                <br>
            </div>
        </div>

        <!-- (Video) -->
        <div ng-if="label=='video'">
            <div class="card-header middle" style="font-size: 20pt;">
                <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;{{ '_RELATIONSHIP' | translate }}
            </div>
            <br>
            <div class="list-group list-group-flush">
                <div class="list-group-item justify-content-between">
                    <div>
                        <i class="fa fa-file-video-o" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.video_name}}
                    </div>
                    <div>
                        <span class="badge badge-pill badge-default">
                            &mdash;&nbsp;BELONGS_TO&nbsp;&mdash;&gt;
                        </span>
                    </div>
                    <div>
                        <i class="fa fa-flask" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.scenario_name}}
                    </div>
                </div>
            </div>
            <div class="card-block">
                <br>
                - {{ 'NO' | translate }} {{ 'PROPERTIES' | translate }} -
                <br>
            </div>
        </div>

        <!-- (Overlay) -->
        <div ng-if="label=='overlay'">
            <div class="card-header middle" style="font-size: 20pt;">
                <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;{{ '_RELATIONSHIP' | translate }}
            </div>
            <br>
            <div class="list-group list-group-flush">
                <div class="list-group-item justify-content-between">
                    <div>
                        <i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.overlay_name}}
                    </div>
                    <div>
                        <span class="badge badge-pill badge-default">
                            &mdash;&nbsp;BELONGS_TO&nbsp;&mdash;&gt;
                        </span>
                    </div>
                    <div>
                        <i class="fa fa-flask" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.scenario_name}}
                    </div>
                </div>
            </div>
            <div class="card-block">
                <br>
                - {{ 'NO' | translate }} {{ 'PROPERTIES' | translate }} -
                <br>
            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col">
                    <button class="btn btn-secondary btn-block" role="button" ng-click="redirect('/relationship/belongs_to/' + label + '/' +  relationship.relationship_id)">
                        <i class="fa fa-ban" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'CANCEL' | translate }}
                    </button>
                </div>
                <div class="col">
                    <button class="btn btn-success btn-block" role="submit">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SAVE' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
