<!DOCTYPE html>
<div class="card">
    <form class="form-horizontal" name="editRelationshipForm" ng-submit="save()">
        <div class="card-header" style="font-size: 20pt;">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                    <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'EDIT_RELATIONSHIP' | translate }}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 right">
                    <button class="btn btn-secondary" type="button" ng-click="redirect('/relationships/' + relationship_label + '/' + relationship.relationship_id)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Video container -->
        <div class="videogular-container">

            <!-- Video player -->
            <videogular vg-theme="videoConfig.theme" vg-auto-play="videoConfig.autoPlay">

                <!-- Video files -->
                <vg-media vg-src="sources" vg-loop="videoConfig.loop"></vg-media>

                <!-- Video player controls -->
                <vg-controls vg-autohide="videoConfig.autoHide" vg-autohide-time="videoConfig.autoHideTime">
                    <vg-play-pause-button></vg-play-pause-button>
                    <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                    <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                    </vg-volume>
                    <vg-fullscreen-button></vg-fullscreen-button>
                </vg-controls>
            </videogular>
        </div>

        <div class="card-footer right">
            <button class="btn btn-success" type="submit">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SAVE' | translate }}
            </button>
        </div>
    </form>
</div>
