<!DOCTYPE html>
<div class="card">
    <form class="form-horizontal" name="createRelationshipForm" ng-submit="send()">
        <div class="card-header middle" style="font-size: 20pt;">
            <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'CREATE_NEW' | translate }} {{ 'RELATIONSHIP' | translate }}
        </div>
        <div class="card-block">
            <br>

            <div class="row">
                <div class="col-12">
                    <label>
                        <b>{{ 'FILTER' | translate }} {{ 'LOCATIONS' | translate }} {{ 'BY' | translate }} {{ 'SCENARIO' | translate }}</b>
                    </label>
                    <br>
                    <select class="custom-select form-control" ng-change="updateDropdown('locations')" ng-model="locationDropdown.scenario_id" autofocus>
                        <optgroup label="{{ 'DEFAULT' | translate }}">
                            <option value="" selected>
                                {{ 'ALL' | translate }}
                            </option>
                        </optgroup>
                        <optgroup label="{{ '_SCENARIOS' | translate }}">
                            <option ng-repeat="scenario in scenarios | orderBy: ['name']" value="{{scenario.scenario_id}}">
                                {{ scenario.name }}
                            </option>
                        </optgroup>
                    </select>
                    <br>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'START_LOCATION' | translate }}*</b>
                    </label>
                    <br>
                    <div class="form-group" ng-class="{'has-danger': createRelationshipForm.start_location_id.$invalid && !createRelationshipForm.start_location_id.$pristine}">
                        <select
                            class="custom-select form-control"
                            id="start_location_id"
                            name="start_location_id"
                            ng-model="relationship.start_location_id"
                            ng-disabled="locationDropdown.status"
                            ng-options="location.location_id as location.name group by location.location_type for location in locations | orderBy:['name']"
                            required>
                        </select>
                        <span ng-show="createRelationshipForm.start_location_id.$error.required && !createRelationshipForm.start_location_id.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 middle">
                    <span class="badge badge-pill badge-default">
                        &mdash;&nbsp;CONNECTED_TO&nbsp;&mdash;&gt;
                    </span>
                    <br>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'END_LOCATION' | translate }}*</b>
                    </label>
                    <br>
                    <div class="form-group" ng-class="{'has-danger': createRelationshipForm.end_location_id.$invalid && !createRelationshipForm.end_location_id.$pristine}">
                        <select
                            class="custom-select form-control"
                            id="end_location_id"
                            name="end_location_id"
                            ng-model="relationship.end_location_id"
                            ng-disabled="locationDropdown.status"
                            ng-options="location.location_id as location.name group by location.location_type for location in locations | orderBy:['name'] | filter: locationType"
                            required>
                        </select>
                        <span ng-show="createRelationshipForm.end_location_id.$error.required && !createRelationshipForm.end_location_id.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col">
                    <button class="btn btn-secondary btn-block" role="button" ng-click="redirect('/relationship/connected_to')">
                        <i class="fa fa-ban" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'CANCEL' | translate }}
                    </button>
                </div>
                <div class="col">
                    <button class="btn btn-success btn-block" role="submit">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SEND' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
