<!DOCTYPE html>
<div class="card">
    <form class="form-horizontal" name="createRelationshipForm" ng-submit="send()">
        <div class="card-header" style="font-size: 20pt;">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                    <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'CREATE_NEW_RELATIONSHIP' | translate }}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 right">
                    <button class="btn btn-secondary" role="button" ng-click="redirect('/new/relationship')">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'FILTER' | translate }} {{ 'OVERLAYS' | translate }} {{ 'BY' | translate }} {{ 'SCENARIO' | translate }}</b>
                    </label>
                    <br>
                    <select class="custom-select form-control" ng-change="updateDropdown('overlays')" ng-model="overlayDropdown.scenario_id" autofocus>
                        <optgroup label="{{ 'DEFAULT' | translate }}">
                            <option value="" selected>
                                {{ 'ALL' | translate }}
                            </option>
                        </optgroup>
                        <optgroup label="{{ '_SCENARIOS' | translate }}">
                            <option ng-repeat="scenario in scenarios | orderBy: ['name']" value="{{scenario.scenario_id}}">
                                {{ scenario.name }}
                            </option>
                        </optgroup>
                    </select>
                    <br>
                    <br>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'FILTER' | translate }} {{ 'VIDEOS' | translate }} {{ 'BY' | translate }} {{ 'SCENARIO' | translate }}</b>
                    </label>
                    <br>
                    <select class="custom-select form-control" ng-change="updateDropdown('videos')" ng-model="videoDropdown.scenario_id">
                        <optgroup label="{{ 'DEFAULT' | translate }}">
                            <option value="" selected>
                                {{ 'ALL' | translate }}
                            </option>
                        </optgroup>
                        <optgroup label="{{ '_SCENARIOS' | translate }}">
                            <option ng-repeat="scenario in scenarios | orderBy: ['name']" value="{{scenario.scenario_id}}">
                                {{ scenario.name }}
                            </option>
                        </optgroup>
                    </select>
                    <br>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b><i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ '_OVERLAY' | translate }}*</b>
                    </label>
                    <br>
                    <div class="form-group" ng-class="{'has-danger': createRelationshipForm.overlay_id.$invalid && !createRelationshipForm.overlay_id.$pristine}">
                        <select
                            class="custom-select form-control"
                            id="overlay_id"
                            name="overlay_id"
                            ng-model="relationship.overlay_id"
                            ng-disabled="overlayDropdown.status"
                            ng-options="overlay.overlay_id as overlay.name group by overlay.category for overlay in overlays | orderBy:['name']"
                            required>
                        </select>
                        <span ng-show="createRelationshipForm.overlay_id.$error.required && !createRelationshipForm.overlay_id.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 middle">
                    <span class="badge badge-pill badge-default">
                        &mdash;&nbsp;EMBEDDED_IN&nbsp;&mdash;&gt;
                    </span>
                    <br>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b><i class="fa fa-file-video-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ '_VIDEO' | translate }}*</b>
                    </label>
                    <br>
                    <div class="form-group" ng-class="{'has-danger': createRelationshipForm.video_id.$invalid && !createRelationshipForm.video_id.$pristine}">
                        <select
                            class="custom-select form-control"
                            id="video_id"
                            name="video_id"
                            ng-model="relationship.video_id"
                            ng-disabled="videoDropdown.status"
                            ng-options="video.video_id as video.name for video in videos | orderBy:['name']"
                            required>
                        </select>
                        <span ng-show="createRelationshipForm.video_id.$error.required && !createRelationshipForm.video_id.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>
                </div>
            </div>

            <hr>
            <p class="text-muted middle">
                <b>{{ 'PROPERTIES' | translate }}</b>
            </p>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'WIDTH' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createRelationshipForm.w.$invalid && !createRelationshipForm.w.$pristine}">
                        <input
                            type="number"
                            class="form-control"
                            ng-model="relationship.w"
                            name="w"
                            id="w"
                            placeholder="{{ 'WIDTH' | translate }}*"
                            aria-describedby="inputWidth"
                            required>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'HEIGHT' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createRelationshipForm.h.$invalid && !createRelationshipForm.h.$pristine}">
                        <input
                            type="number"
                            class="form-control"
                            ng-model="relationship.h"
                            name="h"
                            id="h"
                            placeholder="{{ 'HEIGHT' | translate }}*"
                            aria-describedby="inputHeight"
                            required>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'DISTORTION' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createRelationshipForm.d.$invalid && !createRelationshipForm.d.$pristine}">
                        <input
                            type="number"
                            class="form-control"
                            ng-model="relationship.d"
                            name="d"
                            id="d"
                            placeholder="{{ 'D' | translate }}*"
                            aria-describedby="inputD"
                            required>
                    </div>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'TRANSLATION' | translate }} X-{{ 'AXIS' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createRelationshipForm.x.$invalid && !createRelationshipForm.x.$pristine}">
                        <input
                            type="number"
                            class="form-control"
                            ng-model="relationship.x"
                            name="x"
                            id="x"
                            placeholder="{{ 'X' | translate }}*"
                            aria-describedby="inputX"
                            required>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'TRANSLATION' | translate }} Y-{{ 'AXIS' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createRelationshipForm.y.$invalid && !createRelationshipForm.y.$pristine}">
                        <input
                            type="number"
                            class="form-control"
                            ng-model="relationship.y"
                            name="y"
                            id="y"
                            placeholder="{{ 'Y' | translate }}*"
                            aria-describedby="inputY"
                            required>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'TRANSLATION' | translate }} Z-{{ 'AXIS' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createRelationshipForm.z.$invalid && !createRelationshipForm.z.$pristine}">
                        <input
                            type="number"
                            class="form-control"
                            ng-model="relationship.z"
                            name="z"
                            id="z"
                            placeholder="{{ 'Z' | translate }}*"
                            aria-describedby="inputZ"
                            required>
                    </div>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'ROTATION' | translate }} X-{{ 'AXIS' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createRelationshipForm.rx.$invalid && !createRelationshipForm.rx.$pristine}">
                        <input
                            type="number"
                            class="form-control"
                            ng-model="relationship.rx"
                            name="rx"
                            id="rx"
                            placeholder="{{ 'RX' | translate }}*"
                            aria-describedby="inputRX"
                            required>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'ROTATION' | translate }} Y-{{ 'AXIS' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createRelationshipForm.ry.$invalid && !createRelationshipForm.ry.$pristine}">
                        <input
                            type="number"
                            class="form-control"
                            ng-model="relationship.ry"
                            name="ry"
                            id="ry"
                            placeholder="{{ 'RY' | translate }}*"
                            aria-describedby="inputRY"
                            required>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'ROTATION' | translate }} Z-{{ 'AXIS' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createRelationshipForm.rz.$invalid && !createRelationshipForm.rz.$pristine}">
                        <input
                            type="number"
                            class="form-control"
                            ng-model="relationship.rz"
                            name="rz"
                            id="rz"
                            placeholder="{{ 'RZ' | translate }}*"
                            aria-describedby="inputRZ"
                            required>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label>
                        <b>{{ 'DISPLAY' | translate }}</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createRelationshipForm.display.$invalid && !createRelationshipForm.display.$pristine}">
                        <div class="row">
                            <div class="col">
                                <label class="custom-control custom-radio">
                                    <input
                                        type="radio"
                                        class="custom-control-input"
                                        id="display1"
                                        name="display"
                                        ng-value="true"
                                        ng-model="relationship.display"
                                        required>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">
                                        {{ 'YES' | translate }}
                                    </span>
                                </label>
                            </div>
                            <div class="col">
                                <label class="custom-control custom-radio">
                                    <input
                                        type="radio"
                                        class="custom-control-input"
                                        id="display2"
                                        name="display"
                                        ng-value="false"
                                        ng-model="relationship.display"
                                        required>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">
                                        {{ 'NO' | translate }}
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-footer right">
            <button class="btn btn-success" role="submit">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SEND' | translate }}
            </button>
        </div>
    </form>
</div>
