<!DOCTYPE html>
<div class="card">
    <form class="form-horizontal" name="createRelationshipForm" ng-submit="send()">
        <div class="card-header" style="font-size: 20pt;">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                    <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'CREATE_NEW_RELATIONSHIP' | translate }}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 right">
                    <button class="btn btn-secondary" role="button" ng-click="redirect('/create/relationship')">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'FILTER' | translate }} {{ 'VIDEOS' | translate }} {{ 'BY' | translate }} {{ 'SCENARIO' | translate }}</b>
                    </label>
                    <br>
                    <select class="custom-select form-control" ng-change="updateDropdown('videos')" ng-model="videoDropdown.scenario_id" autofocus>
                        <optgroup label="{{ 'DEFAULT' | translate }}">
                            <option value="" selected>
                                {{ 'ALL' | translate }}
                            </option>
                        </optgroup>
                        <optgroup label="{{ '_SCENARIOS' | translate }}">
                            <option ng-repeat="scenario in scenarios | orderBy: ['name']" value="{{scenario.scenario_id}}">
                                {{ scenario.name }}
                            </option>
                        </optgroup>
                    </select>
                    <br>
                    <br>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'FILTER' | translate }} {{ 'LOCATIONS' | translate }} {{ 'BY' | translate }} {{ 'SCENARIO' | translate }}</b>
                    </label>
                    <br>
                    <select class="custom-select form-control" ng-change="updateDropdown('locations')" ng-model="locationDropdown.scenario_id">
                        <optgroup label="{{ 'DEFAULT' | translate }}">
                            <option value="" selected>
                                {{ 'ALL' | translate }}
                            </option>
                        </optgroup>
                        <optgroup label="{{ '_SCENARIOS' | translate }}">
                            <option ng-repeat="scenario in scenarios | orderBy: ['name']" value="{{scenario.scenario_id}}">
                                {{ scenario.name }}
                            </option>
                        </optgroup>
                    </select>
                    <br>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b><i class="fa fa-file-video-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ '_VIDEO' | translate }}*</b>
                    </label>
                    <br>
                    <div class="form-group" ng-class="{'has-danger': createRelationshipForm.video_id.$invalid && !createRelationshipForm.video_id.$pristine}">
                        <select
                            class="custom-select form-control"
                            id="video_id"
                            name="video_id"
                            ng-model="relationship.video_id"
                            ng-disabled="videoDropdown.status"
                            ng-options="video.video_id as video.name for video in videos | orderBy:['name']"
                            required>
                        </select>
                        <span ng-show="createRelationshipForm.video_id.$error.required && !createRelationshipForm.video_id.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 middle">
                    <span class="badge badge-pill badge-default">
                        &mdash;&nbsp;RECORDED_AT&nbsp;&mdash;&gt;
                    </span>
                    <br>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{ '_LOCATION' | translate }}*</b>
                    </label>
                    <br>
                    <div class="form-group" ng-class="{'has-danger': createRelationshipForm.location_id.$invalid && !createRelationshipForm.location_id.$pristine}">
                        <select
                            class="custom-select form-control"
                            id="location_id"
                            name="location_id"
                            ng-model="relationship.location_id"
                            ng-disabled="locationDropdown.status"
                            ng-options="location.location_id as location.name group by location.location_type for location in locations | orderBy:['name']"
                            required>
                        </select>
                        <span ng-show="createRelationshipForm.location_id.$error.required && !createRelationshipForm.location_id.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>
                </div>
            </div>

            <hr>
            <p class="text-muted middle">
                <b>{{ 'PROPERTIES' | translate }}</b>
            </p>

            <label>
                <b>{{ 'DESCRIPTION' | translate }}</b>
            </label>
            <div class="form-group" ng-class="{'has-danger': createRelationshipForm.description.$invalid && !createRelationshipForm.description.$pristine }">
                <textarea
                    class="form-control"
                    rows="3"
                    placeholder="{{ 'DESCRIPTION' | translate }}"
                    ng-model="relationship.description"
                    name="description"
                    id="description"></textarea>
            </div>
            <br>
            <label>
                <b>{{ 'PREFERRED' | translate }}</b>
            </label>
            <div class="form-group" ng-class="{'has-danger': createRelationshipForm.preferred.$invalid && !createRelationshipForm.preferred.$pristine}">
                <div class="row">
                    <div class="col">
                        <label class="custom-control custom-radio">
                            <input
                                type="radio"
                                class="custom-control-input"
                                id="preferred1"
                                name="preferred"
                                ng-value="true"
                                ng-model="relationship.preferred"
                                required>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                {{ 'YES' | translate }}
                            </span>
                        </label>
                    </div>
                    <div class="col">
                        <label class="custom-control custom-radio">
                            <input
                                type="radio"
                                class="custom-control-input"
                                id="preferred2"
                                name="preferred"
                                ng-value="false"
                                ng-model="relationship.preferred"
                                required>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                {{ 'NO' | translate }}
                            </span>
                        </label>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-footer right">
            <button class="btn btn-success" role="submit">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SEND' | translate }}
            </button>
        </div>
    </form>
</div>
