<!DOCTYPE html>
<br>

<!-- BUTTONS -->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"></div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 right">
        <button type="button" class="btn btn-secondary" ng-click="redirect('/relationship/connected_to/' + relationship.relationship_id + '/edit')" disabled>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'EDIT' | translate}}
        </button>
    </div>
</div>
<br>

<!-- MAIN -->
<div class="card">
    <div class="card-header middle" style="font-size: 20pt;">
        <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;{{ '_RELATIONSHIP' | translate }}
    </div>
    <br>
    <div class="list-group list-group-flush">
        <div class="list-group-item justify-content-between">
            <div>
                <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.start_location_name}}
                <span class="badge" ng-class="{
                    'badge-primary': relationship.start_location_type=='outdoor',
                    'badge-default': relationship.start_location_type=='indoor',
                    'badge-success': relationship.start_location_type=='abstract'
                }">{{relationship.start_location_type}}</span>
            </div>
            <div>
                <span class="badge badge-pill badge-default">
                    &mdash;&nbsp;CONNECTED_TO&nbsp;&mdash;&gt;
                </span>
            </div>
            <div>
                <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.end_location_name}}
                <span class="badge" ng-class="{
                    'badge-primary': relationship.end_location_type=='outdoor',
                    'badge-default': relationship.end_location_type=='indoor',
                    'badge-success': relationship.end_location_type=='abstract'
                }">{{relationship.end_location_type}}</span>
            </div>
        </div>
    </div>
    <div class="card-block">
        <br>
        <h5>
            {{ 'ARE_YOU_SURE_YOU_WANT_TO_DELETE_THIS' | translate }} {{ 'RELATIONSHIP' | translate }}?
        </h5>
        <br>
        <label>
            <b>{{ 'TYPE' | translate }}</b> <small>({{ 'EXAMPLE' | translate }}: <code>RELATED_TO</code>)</small>
        </label>
        <input type="text" class="form-control" ng-model="input" id="name" placeholder="{{ 'TYPE' | translate }}" autofocus>
        <small class="form-text text-muted">
            {{ 'PLEASE_TYPE_IN_THE_TYPE_OF_THIS' | translate }} {{ 'RELATIONSHIP' | translate }} {{ 'TO_CONFIRM' | translate }}
        </small>
        <br>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <button class="btn btn-secondary btn-block" role="button" ng-click="redirect('/relationship/connected_to/' + relationship.relationship_id)">
                    <i class="fa fa-ban" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'CANCEL' | translate }}
                </button>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <button class="btn btn-danger btn-block" role="button" ng-click="delete()" ng-disabled="input != relationship_type">
                    <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'DELETE' | translate }}
                </button>
            </div>
        </div>
    </div>
    
</div>
