<!DOCTYPE html>
<div class="card">
    <form class="form-horizontal" name="editRelationshipForm" ng-submit="save()">
        <div class="card-header" style="font-size: 20pt;">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                    <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'EDIT_RELATIONSHIP' | translate }}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 right">
                    <a href="" class="btn btn-info" ng-click="redirect('/edit_in_preview/relationships/' + relationship_label + '/' + relationship.relationship_id)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'EDIT_IN_PREVIEW_MODE' | translate}}&nbsp;&nbsp;<i class="fa fa-video-camera" aria-hidden="true"></i>
                    </a>
                    <button class="btn btn-danger" type="button" ng-click="redirect('/relationships/' + relationship_label + '/' + relationship.relationship_id)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="list-group">
                <div class="list-group-item">
                    <div style="width: 100%;">
                        <div style="width: 33.33333333%; float: left;">
                            <i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.overlay_name}}
                        </div>
                        <div class="middle" style="width: 33.33333333%; float: left; padding-left: 5px; padding-right: 5px;">
                            <span class="badge badge-pill badge-default">
                                &mdash;&nbsp;EMBEDDED_IN&nbsp;&mdash;&gt;
                            </span>
                        </div>
                        <div class="right" style="width: 33.33333333%; float: left;">
                            <i class="fa fa-file-video-o" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.video_name}}
                            <br>
                            <div
                                ng-if="relationship.thumbnails > 0"
                                style="
                                    margin-top: 5px;
                                    width: 100%;
                                    height: auto;"
                                ng-mouseover="startPreview(relationship)"
                                ng-mouseout="stopPreview(relationship)"
                            >
                                <img ng-init="relationship.thumbnail = (relationship | thumbnail:1)" ng-src="{{relationship.thumbnail}}" class="previewVideo"
                                style="
                                    max-width: 480px;
                                    width: 100%;
                                    max-height: 90px;
                                    height: auto;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h6>{{ 'PROPERTIES' | translate }}</h6>
            <label>
                <b>{{ 'DESCRIPTION' | translate }}</b>
            </label>
            <div class="form-group" ng-class="{'has-danger': editRelationshipForm.description.$invalid && !editRelationshipForm.description.$pristine }">
                <textarea
                    class="form-control"
                    rows="3"
                    placeholder="{{ 'DESCRIPTION' | translate }}"
                    ng-model="relationship.relationship_description"
                    name="description"
                    id="description"
                    required
                ></textarea>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'WIDTH' | translate }}</b> <sup class="text-danger">*</sup>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': editRelationshipForm.w.$invalid && !editRelationshipForm.w.$pristine}">
                        <input
                            type="number"
                            step="any"
                            class="form-control"
                            ng-model="relationship.relationship_w"
                            name="w"
                            id="w"
                            placeholder="{{ 'WIDTH' | translate }}"
                            aria-describedby="inputWidth"
                            required>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'HEIGHT' | translate }}</b> <sup class="text-danger">*</sup>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': editRelationshipForm.h.$invalid && !editRelationshipForm.h.$pristine}">
                        <input
                            type="number"
                            step="any"
                            class="form-control"
                            ng-model="relationship.relationship_h"
                            name="h"
                            id="h"
                            placeholder="{{ 'HEIGHT' | translate }}*"
                            aria-describedby="inputHeight"
                            required>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'DISTORTION' | translate }}</b> <sup class="text-danger">*</sup>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': editRelationshipForm.d.$invalid && !editRelationshipForm.d.$pristine}">
                        <input
                            type="number"
                            step="any"
                            class="form-control"
                            ng-model="relationship.relationship_d"
                            name="d"
                            id="d"
                            placeholder="{{ 'D' | translate }}"
                            aria-describedby="inputD"
                            required>
                    </div>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'TRANSLATION' | translate }} X-{{ 'AXIS' | translate }}</b> <sup class="text-danger">*</sup>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': editRelationshipForm.x.$invalid && !editRelationshipForm.x.$pristine}">
                        <input
                            type="number"
                            step="any"
                            class="form-control"
                            ng-model="relationship.relationship_x"
                            name="x"
                            id="x"
                            placeholder="{{ 'X' | translate }}"
                            aria-describedby="inputX"
                            required>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'TRANSLATION' | translate }} Y-{{ 'AXIS' | translate }}</b> <sup class="text-danger">*</sup>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': editRelationshipForm.y.$invalid && !editRelationshipForm.y.$pristine}">
                        <input
                            type="number"
                            step="any"
                            class="form-control"
                            ng-model="relationship.relationship_y"
                            name="y"
                            id="y"
                            placeholder="{{ 'Y' | translate }}"
                            aria-describedby="inputY"
                            required>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'TRANSLATION' | translate }} Z-{{ 'AXIS' | translate }}</b> <sup class="text-danger">*</sup>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': editRelationshipForm.z.$invalid && !editRelationshipForm.z.$pristine}">
                        <input
                            type="number"
                            step="any"
                            class="form-control"
                            ng-model="relationship.relationship_z"
                            name="z"
                            id="z"
                            placeholder="{{ 'Z' | translate }}"
                            aria-describedby="inputZ"
                            required>
                    </div>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'ROTATION' | translate }} X-{{ 'AXIS' | translate }} (Grad)</b> <sup class="text-danger">*</sup>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': editRelationshipForm.rx.$invalid && !editRelationshipForm.rx.$pristine}">
                        <input
                            type="number"
                            step="any"
                            class="form-control"
                            ng-model="rotation_x_grad"
                            name="rx"
                            id="rx"
                            placeholder="{{ 'RX' | translate }}"
                            aria-describedby="inputRX"
                            required>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'ROTATION' | translate }} Y-{{ 'AXIS' | translate }} (Grad)</b> <sup class="text-danger">*</sup>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': editRelationshipForm.ry.$invalid && !editRelationshipForm.ry.$pristine}">
                        <input
                            type="number"
                            step="any"
                            class="form-control"
                            ng-model="rotation_y_grad"
                            name="ry"
                            id="ry"
                            placeholder="{{ 'RY' | translate }}"
                            aria-describedby="inputRY"
                            required>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'ROTATION' | translate }} Z-{{ 'AXIS' | translate }} (Grad)</b> <sup class="text-danger">*</sup>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': editRelationshipForm.rz.$invalid && !editRelationshipForm.rz.$pristine}">
                        <input
                            type="number"
                            step="any"
                            class="form-control"
                            ng-model="rotation_z_grad"
                            name="rz"
                            id="rz"
                            placeholder="{{ 'RZ' | translate }}"
                            aria-describedby="inputRZ"
                            required>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label>
                        <b>{{ 'DISPLAY' | translate }}</b> <sup class="text-danger">*</sup>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': editRelationshipForm.display.$invalid && !editRelationshipForm.display.$pristine}">
                        <div class="row">
                            <div class="col">
                                <label class="custom-control custom-radio">
                                    <input
                                        type="radio"
                                        class="custom-control-input"
                                        id="display1"
                                        name="display"
                                        ng-value="true"
                                        ng-model="relationship.relationship_display"
                                        required>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">
                                        {{ 'YES' | translate }}
                                    </span>
                                </label>
                            </div>
                            <div class="col">
                                <label class="custom-control custom-radio">
                                    <input
                                        type="radio"
                                        class="custom-control-input"
                                        id="display2"
                                        name="display"
                                        ng-value="false"
                                        ng-model="relationship.relationship_display"
                                        required>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">
                                        {{ 'NO' | translate }}
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer right">
            <button class="btn btn-success" type="submit">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SAVE' | translate }}
            </button>
        </div>
    </form>
</div>
