<!DOCTYPE html>

<!-- Feedback template -->
<div class="card">
    <form name="feedbackForm" class="form-horizontal" ng-submit="send()" method="post">
        <div class="card-header" style="font-size: 20pt;">
            {{ 'YOUR_FEEDBACK' | translate }}
        </div>
        <div class="card-block">
            <label ng-show="!showMeFlipTextarea"  ng-click="ready()">
                <b id="flipTextarea"  style="background-color: red " >{{ 'YOUR_COMMENT' | translate }}</b>
            </label>
            <div class="form-group" ng-show="!showMeFlipTextarea"  >
                <textarea
                    class="form-control"
                    rows="5"
                    placeholder="{{ 'COMMENT' | translate }}"
                    ng-model="feedback.comment"
                    name="comment"
                    id="comment"
                    autofocus

                    ></textarea>
            </div>
            <br>

            <label ng-show="!showMeFlipRating"  ng-click="ready()">
                <b id="flipRating"  style="background-color: red ">{{ 'YOUR_RATING' | translate }}</b>
            </label>
            <div class="form-group" id="ratingArea" ng-show="!showMeFlipRating">
                <div class="row"  >
                    <div class="col" >
                        <label class="custom-control custom-radio">
                            <input
                                type="radio"
                                class="custom-control-input"
                                id="rating1"
                                name="rating"
                                value="Like"
                                ng-model="feedback.rating"
                                >
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'LIKE' | translate }}
                            </span>
                        </label>
                    </div>
                    <div class="col">
                        <label class="custom-control custom-radio">
                            <input
                                type="radio"
                                class="custom-control-input"
                                id="rating2"
                                name="rating"
                                value="Dislike"
                                ng-model="feedback.rating"
                                >
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                <i class="fa fa-thumbs-down" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'DISLIKE' | translate }}
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <br>

        </div>
        <div id="feedbackSubmitBtn"  class="card-footer right">
            <button class="btn btn-success" type="submit">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SEND' | translate }}
            </button>
        </div>
        <div ng-hide="!submitAlertMessage" class="alert alert-success">
            <strong >Success! {{ 'ALERT_SUCCESS' | translate }}</strong>
        </div>
    </form>
</div>
