<!DOCTYPE html>

<!-- Feedback template -->
<div class="card">
    <form class="form-horizontal" ng-submit="send()">
        <div class="card-header" style="font-size: 20pt;">
            {{ 'YOUR_FEEDBACK' | translate }}
        </div>
        <div class="card-block">
            <label>
                <b>{{ 'YOUR_COMMENT' | translate }}</b>
            </label>
            <div class="form-group">
                <textarea
                    class="form-control"
                    rows="5"
                    placeholder="{{ 'COMMENT' | translate }}"
                    ng-model="feedback.comment"
                    name="comment"
                    id="comment"
                    autofocus
                    required></textarea>
            </div>
            <br>

            <label>
                <b>{{ 'YOUR_RATING' | translate }}</b> <sup class="text-danger">*</sup>
            </label>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="custom-control custom-radio">
                            <input
                                type="radio"
                                class="custom-control-input"
                                id="rating1"
                                name="rating"
                                ng-value="true"
                                ng-model="feedback.rating"
                                required>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'LIKE' | translate }}
                            </span>
                        </label>
                    </div>
                    <div class="col">
                        <label class="custom-control custom-radio">
                            <input
                                type="radio"
                                class="custom-control-input"
                                id="rating2"
                                name="rating"
                                ng-value="false"
                                ng-model="feedback.rating"
                                required>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                <i class="fa fa-thumbs-down" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'DISLIKE' | translate }}
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <br>

        </div>
        <div class="card-footer right">
            <button class="btn btn-success" type="submit">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SEND' | translate }}
            </button>
        </div>
    </form>
</div>
