<!DOCTYPE html>
<!-- LOADING -->
<div class="loading" ng-show="tab==0">
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
</div>

<!-- MAIN -->
<div class="row" ng-show="tab==1">

    <!-- Left padding -->
    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>

    <!-- Header -->
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 middle">
        <br>
        <h1 class="display-3">
            {{ 'HELP' | translate }}
        </h1>
        <br>
        <p class="lead">
            {{ 'TODO' | translate }}
        </p>
        <br>

    </div>

    <!-- Right padding -->
    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>

</div>
<br>
