<!DOCTYPE html>
<div class="card">
    <div class="card-header" style="font-size: 20pt;">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{location.name}}
                <small>
                    <span class="badge" ng-class="{
                        'badge-primary': location.location_type=='outdoor',
                        'badge-default': location.location_type=='indoor',
                        'badge-success': location.location_type=='abstract'
                    }">
                        {{location.location_type}}
                    </span>
                </small>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 right">
                <div class="btn-group">
                    <button class="btn btn-info" role="button" ng-click="redirect('/locations/' + location.location_id + '/edit')">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-danger" role="button" ng-click="redirect('/locations/' + location.location_id + '/delete')">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </div>
                <button class="btn btn-secondary" role="button" ng-click="redirect('/locations')">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <h6>{{ 'PROPERTIES' | translate }}</h6>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>
                        {{ 'ID' | translate }}
                    </th>
                    <td>
                        <code>{{location.location_id}}</code>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ 'EXPORT_ID' | translate }}
                    </th>
                    <td>
                        <kbd>{{location.l_id}}</kbd>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ 'NAME' | translate }}
                    </th>
                    <td>
                        <kbd>{{location.name}}</kbd>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ 'DESCRIPTION' | translate }}
                    </th>
                    <td>
                        <kbd ng-if="location.description!=null">{{location.description}}</kbd>
                        <span class="text-muted" ng-if="location.description==null">-</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ 'LONGITUDE' | translate }}
                    </th>
                    <td>
                        <kbd ng-if="location.lng!=null">{{location.lng}}</kbd>
                        <span class="text-muted" ng-if="location.lng==null">-</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ 'LATITUDE' | translate }}
                    </th>
                    <td>
                        <kbd ng-if="location.lat!=null">{{location.lat}}</kbd>
                        <span class="text-muted" ng-if="location.lat==null">-</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ 'LOCATION_TYPE' | translate }}
                    </th>
                    <td>
                        <kbd>{{location.location_type}}</kbd>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ 'CREATED' | translate }}
                    </th>
                    <td>
                        <kbd>{{location.created | timestamp }}</kbd>
                    </td>
                </tr>
                <tr style="border-bottom: 1px solid #eceeef">
                    <th>
                        {{ 'LAST_UPDATED' | translate }}
                    </th>
                    <td>
                        <kbd>{{location.updated | timestamp }}</kbd>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- connectedTo-relationship -->
    <div class="list-group list-group-flush" ng-if="location.connected_locations.length==0">
        <div class="list-group-item">
            - {{ 'NO' | translate }} {{ 'CONNECTED' | translate }} {{ 'LOCATIONS'  | translate }} -
        </div>
    </div>
    <div class="list-group list-group-flush" ng-if="location.connected_locations.length>0">
        <a href="" class="list-group-item list-group-item-action d-flex justify-content-between" ng-click="toggle('connectedLocations')">
            <span ng-if="!connectedLocations">
                <i class="fa fa-caret-down" aria-hidden="true"></i>&nbsp;&nbsp;
                <b>{{ 'SHOW' | translate }} {{ 'CONNECTED' | translate }} {{ 'LOCATIONS' | translate }}</b>
            </span>
            <span ng-if="connectedLocations">
                <i class="fa fa-caret-up" aria-hidden="true"></i>&nbsp;&nbsp;
                <b>{{ 'HIDE' | translate }} {{ 'CONNECTED' | translate }} {{ 'LOCATIONS' | translate }}</b>
            </span>
            <span class="badge badge-default badge-pill">
                {{location.connected_locations.length}}
            </span>
        </a>
    </div>
    <div class="list-group list-group-flush" ng-if="location.connected_locations.length>0 && connectedLocations">
        <a href="" class="list-group-item list-group-item-action" ng-repeat="connected_location in location.connected_locations" ng-click="redirect('/locations/' + connected_location.location_id)">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            &nbsp;&nbsp;
            {{connected_location.name}}
            &nbsp;
            <span class="badge" ng-class="{
                'badge-primary': connected_location.location_type=='outdoor',
                'badge-default': connected_location.location_type=='indoor',
                'badge-success': connected_location.location_type=='abstract'
            }">
                {{connected_location.location_type}}
            </span>
        </a>
    </div>
    <br>

    <!-- recordedAt-relationship -->
    <div class="list-group list-group-flush" ng-if="location.locations.length==0">
        <div class="list-group-item">
            - {{ 'NO' | translate }} {{ 'RELATED' | translate }} {{ 'LOCATIONS'  | translate }} -
        </div>
    </div>
    <div class="list-group list-group-flush" ng-if="location.locations.length>0">
        <a href="" class="list-group-item list-group-item-action d-flex justify-content-between" ng-click="toggle('relatedLocations')">
            <span ng-if="!relatedLocations">
                <b>{{ 'SHOW' | translate }} {{ 'RELATED' | translate }} {{ 'LOCATIONS' | translate }}</b>
            </span>
            <span ng-if="!relatedLocations">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </span>
            <span ng-if="relatedLocations">
                <b>{{ 'HIDE' | translate }} {{ 'RELATED' | translate }} {{ 'LOCATIONS' | translate }}</b>
            </span>
            <span ng-if="relatedLocations">
                <i class="fa fa-caret-up" aria-hidden="true"></i>
            </span>
        </a>
    </div>
    <div class="list-group list-group-flush" ng-if="scenario.locations.length>0 && relatedLocations">
        <a href="" class="list-group-item list-group-item-action" ng-repeat="location in scenario.locations" ng-click="redirect('/locations/' + location.location_id)">
            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{location.name}}
        </a>
    </div>

</div>
