<!DOCTYPE html>
<div class="card">
    <form class="form-horizontal" name="editLocationForm" ng-submit="send()">
        <div class="card-header" style="font-size: 20pt;">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'EDIT' | translate }} {{location.name}}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 right">
                    <button class="btn btn-secondary" type="button" ng-click="redirect('/locations/' + location.location_id)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <label>
                <b>{{ 'NAME' | translate }}</b> <sup class="text-danger">*</sup>
            </label>
            <div class="form-group" ng-class="{'has-danger': editLocationForm.name.$invalid && !editLocationForm.name.$pristine}">
                <input
                    type="text"
                    class="form-control"
                    ng-model="location.name"
                    name="name"
                    id="name"
                    placeholder="{{ 'NAME' | translate }}"
                    aria-describedby="inputName"
                    autofocus
                    required>
                <span ng-show="editLocationForm.name.$error.required && !editLocationForm.name.$pristine" class="text-danger">
                    <small>
                        {{ 'REQUIRED' | translate }}
                    </small>
                </span>
            </div>
            <br>


            <label>
                <b>{{ 'DESCRIPTION' | translate }}</b>
            </label>
            <div class="form-group" ng-class="{'has-danger': editLocationForm.description.$invalid && !editLocationForm.description.$pristine }">
                <textarea
                    class="form-control"
                    rows="5"
                    placeholder="{{ 'DESCRIPTION' | translate }}" ng-model="location.description"
                    name="description"
                    id="description"></textarea>
            </div>
            <br>

            <label>
                <b>{{ 'LOCATION_TYPE' | translate }}</b> <sup class="text-danger">*</sup>
            </label>
            <div class="form-group" ng-class="{'has-danger': editLocationForm.location_type.$invalid && !editLocationForm.location_type.$pristine }">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-sitemap" aria-hidden="true"></i>
                    </div>
                    <select
                        class="form-control custom-select"
                        ng-model="location.location_type"
                        name="location_type"
                        id="location_type"
                        required>
                        <option value="abstract">{{ '_ABSTRACT' | translate}}</option>
                        <option value="indoor">{{ '_INDOOR' | translate}}</option>
                        <option value="outdoor">{{ '_OUTDOOR' | translate}}</option>
                    </select>
                </div>
                <span ng-show="editLocationForm.location_type.$error.required && !editLocationForm.location_type.$pristine" class="text-danger">
                    <small>
                        {{ 'REQUIRED' | translate }}
                    </small>
                </span>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label>
                        <b>{{ 'LONGITUDE' | translate }}</b> <sup class="text-danger">*</sup>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': editLocationForm.lng.$invalid && !editLocationForm.lng.$pristine}">
                        <input
                            type="number"
                            class="form-control"
                            ng-model="location.lng"
                            name="lng"
                            id="lng"
                            placeholder="{{ 'LONGITUDE' | translate }}"
                            aria-describedby="inputLng"
                            ng-required="location.location_type=='abstract' || location.location_type=='outdoor'">
                        <span ng-show="editLocationForm.lng.$error.required && !editLocationForm.lng.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                        <span ng-show="editLocationForm.lng.$error.number && !editLocationForm.lng.$pristine" class="text-danger">
                            <small>
                                {{ 'NOT_A_NUMBER' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label>
                        <b>{{ 'LATITUDE' | translate }}</b> <sup class="text-danger">*</sup>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': editLocationForm.lat.$invalid && !editLocationForm.lat.$pristine}">
                        <input
                            type="number"
                            class="form-control"
                            ng-model="location.lat"
                            name="lat"
                            id="lat"
                            placeholder="{{ 'LATITUDE' | translate }}"
                            aria-describedby="inputLat"
                            ng-required="location.location_type=='abstract' || location.location_type=='outdoor'">
                        <span ng-show="editLocationForm.lat.$error.required && !editLocationForm.lat.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                        <span ng-show="editLocationForm.lat.$error.number && !editLocationForm.lat.$pristine" class="text-danger">
                            <small>
                                {{ 'NOT_A_NUMBER' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>
                </div>
            </div>

        </div>
        <div class="card-footer right">
            <button class="btn btn-success" type="submit">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SAVE' | translate }}
            </button>
        </div>
    </form>
</div>
