<!DOCTYPE html>
<div class="card">
    <div class="card-header" style="font-size: 20pt;">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">{{ '_LOCATIONS' | translate }}</div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 right">
                <button class="btn btn-primary" role="button" ng-click="redirect('/create/location')">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <!-- SEARCH -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}" ng-model="filter.search_term" ng-change="applyFilter()">
                    <span class="input-group-btn" ng-if="filter.search_term">
                        <a href="" class="btn btn-secondary" ng-click="resetSearch()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </span>
                </div>
                <small class="form-text text-muted">{{ 'SEARCH_FOR_NAMES' | translate }}</small>
                <br>
            </div>
            <!-- FILTER LOCATIONS BY TYPE -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="input-group">
                    <span class="input-group-addon" style="background-color: #ffffff;">
                        <i class="fa fa-filter" aria-hidden="true"></i>
                    </span>
                    <select class="form-control custom-select" ng-model="filter.location_type" ng-change="applyFilter()">
                        <option value="">{{ 'NO_FILTER' | translate }} [{{ 'DEFAULT' | translate }}]</option>
                        <option value="outdoor">{{ 'OUTDOOR' | translate }}</option>
                        <option value="indoor">{{ 'INDOOR' | translate }}</option>
                        <option value="abstract">{{ 'ABSTRACT' | translate }}</option>
                    </select>
                </div>
                <small class="form-text text-muted">{{ 'FILTER_BY' | translate }}</small>
                <br>
            </div>
            <!-- ORDER LOCATIONS BY ATTRIBUTE -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="input-group">
                    <span class="input-group-addon" style="background-color: #ffffff;">
                        <i class="fa fa-sort-numeric-asc" aria-hidden="true" ng-if="filter.orderby == 'created.asc' || filter.orderby == 'updated.asc' || filter.orderby == 'status.asc'"></i>
                        <i class="fa fa-sort-numeric-desc" aria-hidden="true" ng-if="filter.orderby == 'created.desc' || filter.orderby == 'updated.desc' || filter.orderby == 'status.desc'"></i>
                        <i class="fa fa-sort-alpha-asc" aria-hidden="true" ng-if="filter.orderby == 'name.asc'"></i>
                        <i class="fa fa-sort-alpha-desc" aria-hidden="true" ng-if="filter.orderby == 'name.desc'"></i>
                    </span>
                    <select class="form-control custom-select" ng-model="filter.orderby" ng-change="applyFilter()">
                        <option value="created.asc">{{ 'CREATED_ASC' | translate }}</option>
                        <option value="created.desc">{{ 'CREATED_DESC' | translate }}</option>
                        <option value="updated.asc">{{ 'UPDATED_ASC' | translate }}</option>
                        <option value="updated.desc">{{ 'UPDATED_DESC' | translate }}</option>
                        <option value="name.asc">{{ 'NAME_ASC' | translate }} [{{ 'DEFAULT' | translate }}]</option>
                        <option value="name.desc">{{ 'NAME_DESC' | translate }}</option>
                    </select>
                </div>
                <small class="form-text text-muted">{{ 'SORT_BY' | translate }}</small>
                <br>
            </div>
        </div>

        <div class="list-group" ng-if="locations && locations.length>0">
            <a href="" ng-click="redirect('/locations/' + location.location_id)" class="list-group-item list-group-item-action" ng-repeat="location in locations">
                <div style="width: 100%;">
                    <div style="width: 50%; float: left;">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        &nbsp;&nbsp;
                        <b>{{location.name}}</b>
                        <br>
                        <img class="previewMap" ng-src="{{ location | previewMapRequest }}" alt="{{location.name}}" style="width: 50%; height: auto; margin-top: 5px;" ng-if="location.lat !== null && location.lng !== null">
                    </div>
                    <div class="right" style="width: 50%; float: left;">
                        <span class="badge" ng-class="{
                            'badge-primary': location.location_type=='outdoor',
                            'badge-default': location.location_type=='indoor',
                            'badge-success': location.location_type=='abstract'
                        }">
                            {{location.location_type}}
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group" ng-if="!locations || locations.length==0">
            <div class="list-group-item middle">
                - {{ 'NONE' | translate }} -
            </div>
        </div>

    </div>

    <div class="card-footer">

        <!-- Pagination -->
        <nav aria-label="pagination" id="pagination" class="d-flex w-100 justify-content-between">
            <ul class="pagination" ng-if="locations.length > 0">
                <li class="page-item" ng-class="{ 'disabled': pagination.offset - pagination.limit < 0 }">
                    <a href="" class="page-link" ng-click="changeOffset(0)" ng-style="pagination.offset - pagination.limit < 0 && {'background-color':'#f7f7f9'}">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="page-item" ng-class="{ 'disabled': pagination.offset - pagination.limit < 0 }">
                    <a href="" class="page-link" ng-click="changeOffset(pagination.offset - pagination.limit)" ng-style="pagination.offset - pagination.limit < 0 && {'background-color':'#f7f7f9'}">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <ul class="pagination" ng-if="locations.length > 0">
                <li
                    class="page-item disabled"
                    ng-if="pagination.offset >= (3 * pagination.limit)">
                    <a href="" class="page-link">...</a>
                </li>
                <li
                    class="page-item"
                    ng-class="{'active': pagination.offset == page.offset}"
                    ng-repeat="page in pages">
                    <a
                        href=""
                        class="page-link"
                        ng-if="
                            (page.offset >= pagination.offset - (2 * pagination.limit)) &&
                            (page.offset <= pagination.offset + (2 * pagination.limit))"
                        ng-click="changeOffset(page.offset)"
                    >
                        {{$index+1}}
                    </a>
                </li>
                <li
                    class="page-item disabled"
                    ng-if="pagination.offset <= ((pages.length-3) * pagination.limit)">
                    <a href="" class="page-link">...</a>
                </li>
            </ul>
            <ul class="pagination" ng-if="locations.length > 0">
                <li class="page-item" ng-class="{ 'disabled': pagination.offset + pagination.limit >= pages[pages.length - 1].offset + pagination.limit }">
                    <a href="" class="page-link" ng-click="changeOffset(pagination.offset + pagination.limit)" ng-style="pagination.offset + pagination.limit >= pages[pages.length - 1].offset + pagination.limit && {'background-color':'#f7f7f9'}">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="page-item" ng-class="{ 'disabled': pagination.offset + pagination.limit >= pages[pages.length - 1].offset + pagination.limit }">
                    <a href="" class="page-link" ng-click="changeOffset(pages[pages.length - 1].offset)" ng-style="pagination.offset + pagination.limit >= pages[pages.length - 1].offset + pagination.limit && {'background-color':'#f7f7f9'}">
                        <b><i class="fa fa-angle-double-right" aria-hidden="true"></i></b>
                    </a>
                </li>
            </ul>
            <ul class="pagination" ng-if="locations.length == 0">
                <li class="page-item disabled">
                    <div class="page-link" style="background-color: #f7f7f9;">
                        <b><i class="fa fa-angle-left" aria-hidden="true"></i></b>
                    </div>
                </li>
                <li class="page-item disabled">
                    <div class="page-link" style="background-color: #f7f7f9;">
                        <b><i class="fa fa-angle-double-left" aria-hidden="true"></i></b>
                    </div>
                </li>
            </ul>
            <ul class="pagination" ng-if="locations.length == 0">
                <li class="page-item disabled">
                    <div class="page-link" style="background-color: #f7f7f9;">
                        0
                    </div>
                </li>
            </ul>
            <ul class="pagination" ng-if="locations.length == 0">
                <li class="page-item disabled">
                    <div class="page-link" style="background-color: #f7f7f9;">
                        <b><i class="fa fa-angle-right" aria-hidden="true"></i></b>
                    </div>
                </li>
                <li class="page-item disabled">
                    <div class="page-link" style="background-color: #f7f7f9;">
                        <b><i class="fa fa-angle-double-right" aria-hidden="true"></i></b>
                    </div>
                </li>
            </ul>
        </nav>

    </div>
</div>
