<!DOCTYPE html>
<!-- LOADING -->
<div class="loading" ng-show="tab==0">
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
</div>

<!-- MAIN -->
<div class="row" ng-show="tab>0">
    <!-- Left padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>

    <!-- Content -->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">
        <br>

        <div class="card" ng-show="tab==1">
            <form class="form-horizontal" name="createScenarioForm" ng-submit="send()">
                <div class="card-header middle" style="font-size: 20pt;">
                    <i class="fa fa-flask" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'CREATE_NEW' | translate }} {{ 'SCENARIO' | translate }}
                </div>
                <div class="card-block">
                    <br>
                    <label>
                        <b>{{ 'NAME' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createScenarioForm.name.$invalid && !createScenarioForm.name.$pristine}">
                        <input
                            type="text"
                            class="form-control"
                            ng-model="scenario.name"
                            name="name"
                            id="name"
                            placeholder="{{ 'NAME' | translate }}*"
                            aria-describedby="inputName"
                            autofocus
                            required>
                        <span ng-show="createScenarioForm.name.$error.required && !createScenarioForm.name.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>


                    <label>
                        <b>{{ 'DESCRIPTION' | translate }}</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createScenarioForm.description.$invalid && !createScenarioForm.description.$pristine }">
                        <textarea
                            class="form-control"
                            rows="5"
                            placeholder="{{ 'DESCRIPTION' | translate }}" ng-model="scenario.description"
                            name="description"
                            id="description"></textarea>
                    </div>
                    <br>

                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-secondary btn-block" role="button" ng-click="redirect('/scenarios')">
                                <i class="fa fa-ban" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'CANCEL' | translate }}
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-success btn-block" role="submit">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SEND' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br>
    </div>

    <!-- Right padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>
</div>
