<!DOCTYPE html>
<!-- LOADING -->
<div class="loading" ng-show="tab==0">
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
</div>

<!-- MAIN -->
<div class="row" ng-show="tab>0">
    <!-- Left padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>

    <!-- Content -->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8" ng-show="tab==1">
        <br>

        <!-- SEARCH -->
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}" ng-model="searchText">
                    <span class="input-group-btn" ng-if="searchText">
                        <a href="" class="btn btn-secondary" ng-click="resetSearch()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </span>
                </div>
                <small class="form-text text-muted">{{ 'SEARCH_FOR' | translate }} {{ 'SCENARIOS' | translate }}</small>
            </div>
            <div class="col-12 col-md-auto">
                <a href="" class="btn btn-secondary" ng-click="redirect('/new/scenario')">
                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'CREATE' | translate }}
                </a>
            </div>
        </div>
        <br>

        <div class="middle" ng-if="!scenarios">
            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        </div>
        <div class="middle" ng-if="scenarios && scenarios.length==0">
            - {{ 'NO' | translate }} {{ 'SCENARIOS' | translate }} {{ 'FOUND' | translate }} -
        </div>
        <div class="list-group" ng-if="scenarios && scenarios.length>0">
            <a href="" ng-click="redirect('/scenarios/' + scenario.scenario_id)" class="list-group-item list-group-item-action" ng-repeat="scenario in scenarios | orderBy: ['name'] | filter: searchText">
                <i class="fa fa-flask" aria-hidden="true"></i>&nbsp;&nbsp;{{scenario.name}}
            </a>
        </div>
    </div>

    <!-- Right padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>
</div>
<br>
