<!DOCTYPE html>
<div class="card">
    <div class="card-header" style="font-size: 20pt;">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;{{ '_RELATIONSHIP' | translate }}
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 right">
                <div class="btn-group">
                    <button class="btn btn-info" role="button" ng-click="redirect('/edit/relationships/' + relationship_label + '/' + relationship.relationship_id + ('/' + relationship_type || '') )" ng-disabled="
                        relationship_label == 'belongs_to' ||
                        relationship_label == 'connected_to' ||
                        relationship_label == 'has_parent_location' ">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-danger" role="button" ng-click="redirect('/delete/relationships/' + relationship_label + '/' + relationship.relationship_id + ('/' + relationship_type || '') )">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </div>
                <button class="btn btn-secondary" role="button" ng-click="redirect('/relationships/' + relationship_label )">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">

        <div class="list-group">
            <div class="list-group-item flex-column align-items-start">

                <!-- belongs_to -->
                <div class="d-flex w-100 justify-content-between" ng-if="relationship_label == 'belongs_to' ">
                    <!-- location -->
                    <div ng-if="relationship_type == 'location' ">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.location_name}}
                        <span class="badge" ng-class="{
                            'badge-primary': relationship.location_type=='outdoor',
                            'badge-default': relationship.location_type=='indoor',
                            'badge-success': relationship.location_type=='abstract'
                        }">{{relationship.location_type}}</span>
                    </div>
                    <!-- video -->
                    <div ng-if="relationship_type == 'video' ">
                        <i class="fa fa-file-video-o" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.video_name}}
                    </div>
                    <!-- overlay -->
                    <div ng-if="relationship_type == 'overlay' ">
                        <i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.overlay_name}}
                    </div>
                    <div style="padding-left: 5px; padding-right: 5px;">
                        <span class="badge badge-pill badge-default">
                            &mdash;&nbsp;BELONGS_TO&nbsp;&mdash;&gt;
                        </span>
                    </div>
                    <div>
                        <i class="fa fa-flask" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.scenario_name}}
                    </div>
                </div>

                <!-- connected_to -->
                <div class="d-flex w-100 justify-content-between" ng-if="relationship_label == 'connected_to' ">
                    <div>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.start_location_name}}
                        <span class="badge" ng-class="{
                            'badge-primary': relationship.start_location_type=='outdoor',
                            'badge-default': relationship.start_location_type=='indoor',
                            'badge-success': relationship.start_location_type=='abstract'
                        }">{{relationship.start_location_type}}</span>
                    </div>
                    <div style="padding-left: 5px; padding-right: 5px;">
                        <span class="badge badge-pill badge-default">
                            &mdash;&nbsp;CONNECTED_TO&nbsp;&mdash;&gt;
                        </span>
                    </div>
                    <span>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.end_location_name}}
                        <span class="badge" ng-class="{
                            'badge-primary': relationship.end_location_type=='outdoor',
                            'badge-default': relationship.end_location_type=='indoor',
                            'badge-success': relationship.end_location_type=='abstract'
                        }">{{relationship.end_location_type}}</span>
                    </span>
                </div>

                <!-- embedded_in -->
                <div class="d-flex w-100 justify-content-between" ng-if="relationship_label == 'embedded_in' ">
                    <div>
                        <i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.overlay_name}}
                    </div>
                    <div style="padding-left: 5px; padding-right: 5px;">
                        <span class="badge badge-pill badge-default">
                            &mdash;&nbsp;EMBEDDED_IN&nbsp;&mdash;&gt;
                        </span>
                    </div>
                    <span>
                        <i class="fa fa-file-video-o" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.video_name}}
                    </span>
                </div>

                <!-- has_parent_location -->
                <div class="d-flex w-100 justify-content-between" ng-if="relationship_label == 'has_parent_location' ">
                    <div>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.child_location_name}}
                        <span class="badge" ng-class="{
                            'badge-primary': relationship.child_location_type=='outdoor',
                            'badge-default': relationship.child_location_type=='indoor',
                            'badge-success': relationship.child_location_type=='abstract'
                        }">{{relationship.child_location_type}}</span>
                    </div>
                    <div style="padding-left: 5px; padding-right: 5px;">
                        <span class="badge badge-pill badge-default">
                            &mdash;&nbsp;HAS_PARENT_LOCATION&nbsp;&mdash;&gt;
                        </span>
                    </div>
                    <span>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.parent_location_name}}
                        <span class="badge" ng-class="{
                            'badge-primary': relationship.parent_location_type=='outdoor',
                            'badge-default': relationship.parent_location_type=='indoor',
                            'badge-success': relationship.parent_location_type=='abstract'
                        }">{{relationship.parent_location_type}}</span>
                    </span>
                </div>

                <!-- recorded_at -->
                <div class="d-flex w-100 justify-content-between" ng-if="relationship_label == 'recorded_at' ">
                    <div>
                        <i class="fa fa-file-video-o" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.video_name}}
                    </div>
                    <div style="padding-left: 5px; padding-right: 5px;">
                        <span class="badge badge-pill badge-default">
                            &mdash;&nbsp;RECORDED_AT&nbsp;&mdash;&gt;
                        </span>
                    </div>
                    <span>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.location_name}}
                        <span class="badge" ng-class="{
                            'badge-primary': relationship.location_type=='outdoor',
                            'badge-default': relationship.location_type=='indoor',
                            'badge-success': relationship.location_type=='abstract'
                        }">{{relationship.location_type}}</span>
                    </span>
                </div>

            </div>
        </div>
        <br>
        <h6>{{ 'PROPERTIES' | translate }}</h6>
        <table class="table table-bordered">
            <tbody>
                <!-- 1st attribute -->
                <tr>
                    <th>
                        {{ 'ID' | translate }}
                    </th>
                    <td>
                        <code>{{relationship.relationship_id}}</code>
                    </td>
                </tr>

                <!-- only embedded_in attributes -->
                <tr ng-if="relationship_label == 'embedded_in' ">
                    <th>
                        {{ 'WIDTH' | translate }}
                    </th>
                    <td>
                        <kbd>{{relationship.relationship_w}}</kbd>
                    </td>
                </tr>
                <tr ng-if="relationship_label == 'embedded_in' ">
                    <th>
                        {{ 'HEIGHT' | translate }}
                    </th>
                    <td>
                        <kbd>{{relationship.relationship_h}}</kbd>
                    </td>
                </tr>
                <tr ng-if="relationship_label == 'embedded_in' ">
                    <th>
                        {{ 'DISTORTION' | translate }}
                    </th>
                    <td>
                        <kbd>{{relationship.relationship_d}}</kbd>
                    </td>
                </tr>
                <tr ng-if="relationship_label == 'embedded_in' ">
                    <th>
                        {{ 'TRANSLATION' | translate }} X-{{ 'AXIS' | translate }}
                    </th>
                    <td>
                        <kbd>{{relationship.relationship_x}}</kbd>
                    </td>
                </tr>
                <tr ng-if="relationship_label == 'embedded_in' ">
                    <th>
                        {{ 'TRANSLATION' | translate }} Y-{{ 'AXIS' | translate }}
                    </th>
                    <td>
                        <kbd>{{relationship.relationship_y}}</kbd>
                    </td>
                </tr>
                <tr ng-if="relationship_label == 'embedded_in' ">
                    <th>
                        {{ 'TRANSLATION' | translate }} Z-{{ 'AXIS' | translate }}
                    </th>
                    <td>
                        <kbd>{{relationship.relationship_z}}</kbd>
                    </td>
                </tr>
                <tr ng-if="relationship_label == 'embedded_in' ">
                    <th>
                        {{ 'ROTATION' | translate }} X-{{ 'AXIS' | translate }}
                    </th>
                    <td>
                        <kbd>{{relationship.relationship_rx}}</kbd>
                    </td>
                </tr>
                <tr ng-if="relationship_label == 'embedded_in' ">
                    <th>
                        {{ 'ROTATION' | translate }} Y-{{ 'AXIS' | translate }}
                    </th>
                    <td>
                        <kbd>{{relationship.relationship_ry}}</kbd>
                    </td>
                </tr>
                <tr ng-if="relationship_label == 'embedded_in' ">
                    <th>
                        {{ 'ROTATION' | translate }} Z-{{ 'AXIS' | translate }}
                    </th>
                    <td>
                        <kbd>{{relationship.relationship_rz}}</kbd>
                    </td>
                </tr>
                <tr ng-if="relationship_label == 'embedded_in' ">
                    <th>
                        {{ 'DISPLAY' | translate }}
                    </th>
                    <td>
                        <kbd>{{relationship.relationship_display}}</kbd>
                    </td>
                </tr>

                <!-- only recorded_at attribute -->
                <tr ng-if="relationship_label == 'recorded_at' ">
                    <th>
                        {{ 'PREFERRED' | translate }}
                    </th>
                    <td>
                        <kbd>{{relationship.relationship_preferred}}</kbd>
                    </td>
                </tr>

                <!-- final attributes -->
                <tr>
                    <th>
                        {{ 'CREATED' | translate }}
                    </th>
                    <td>
                        <kbd>{{relationship.relationship_created | timestamp }}</kbd>
                    </td>
                </tr>
                <tr style="border-bottom: 1px solid #eceeef">
                    <th>
                        {{ 'LAST_UPDATED' | translate }}
                    </th>
                    <td>
                        <kbd>{{relationship.relationship_updated | timestamp }}</kbd>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
