<!DOCTYPE html>
<div class="card">
    <div class="card-header" style="font-size: 20pt;">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <span class="badge badge-pill badge-default">
                    {{ relationship_label | uppercase }}
                </span>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 right">
                <button class="btn btn-primary" type="button" ng-click="redirect('/create/' + relationship_label + '/relationship')">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
                <button class="btn btn-secondary" type="button" ng-click="redirect('/relationships')">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <!-- SEARCH -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}" ng-model="filter.search_term" ng-change="applyFilter()">
                    <span class="input-group-btn" ng-if="filter.search_term">
                        <a href="" class="btn btn-secondary" ng-click="resetSearch()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </span>
                </div>
                <small class="form-text text-muted">{{ 'SEARCH_FOR_NAMES' | translate }}</small>
                <br>
            </div>
            <!-- FILTER RELATIONSHIPS BY RELATIONSHIP-TYPE -->
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <div class="input-group">
                    <span class="input-group-addon" style="background-color: #ffffff;">
                        <i class="fa fa-filter" aria-hidden="true"></i>
                    </span>
                    <select class="form-control custom-select" ng-model="filter.relationship_type" ng-change="applyFilter(true)" ng-disabled="relationship_label != 'belongs_to' ">
                        <option value="" ng-disabled="relationship_label == 'belongs_to' ">
                            {{ 'NO_FILTER' | translate }}
                        </option>
                        <option value="location">
                            {{ '_LOCATIONS' | translate }}
                        </option>
                        <option value="video">
                            {{ '_VIDEOS' | translate }}
                        </option>
                        <option value="overlay">
                            {{ '_OVERLAYS' | translate }}
                        </option>
                    </select>
                </div>
                <small class="form-text text-muted">
                    {{ 'FILTER_BY_RELATIONSHIP_TYPE' | translate }}
                </small>
                <br>
            </div>
            <!-- ORDER RELATIONSHIPS BY ATTRIBUTE -->
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="input-group">
                    <span class="input-group-addon" style="background-color: #ffffff;">
                        <i class="fa fa-sort-alpha-asc" aria-hidden="true" ng-if="
                            filter.orderby == 'scenario_name.asc' || 
                            filter.orderby == 'location_name.asc' ||
                            filter.orderby == 'start_location_name.asc' ||
                            filter.orderby == 'end_location_name.asc' ||
                            filter.orderby == 'child_location_name.asc' ||
                            filter.orderby == 'parent_location_name.asc' ||
                            filter.orderby == 'video_name.asc' ||
                            filter.orderby == 'overlay_name.asc' "></i>
                        <i class="fa fa-sort-alpha-desc" aria-hidden="true" ng-if="
                            filter.orderby == 'scenario_name.desc' || 
                            filter.orderby == 'location_name.desc' ||
                            filter.orderby == 'start_location_name.desc' ||
                            filter.orderby == 'end_location_name.desc' ||
                            filter.orderby == 'child_location_name.desc' ||
                            filter.orderby == 'parent_location_name.desc' ||
                            filter.orderby == 'video_name.desc' ||
                            filter.orderby == 'overlay_name.desc' "></i>
                    </span>
                    <select class="form-control custom-select" ng-model="filter.orderby" ng-change="applyFilter()">

                        <!-- :belongs_to options -->
                        <option value="scenario_name.asc" ng-if="relationship_label == 'belongs_to' ">
                            {{ 'SCENARIO_NAME_ASC' | translate }}
                        </option>
                        <option value="scenario_name.desc" ng-if="relationship_label == 'belongs_to' ">
                            {{ 'SCENARIO_NAME_DESC' | translate }}
                        </option>
                        <option value="location_name.asc" ng-if="relationship_label == 'belongs_to' && filter.relationship_type == 'location' ">
                            {{ 'LOCATION_NAME_ASC' | translate }} [{{ 'DEFAULT' | translate }}]
                        </option>
                        <option value="location_name.desc" ng-if="relationship_label == 'belongs_to' && filter.relationship_type == 'location' ">
                            {{ 'LOCATION_NAME_DESC' | translate }}
                        </option>
                        <option value="video_name.asc" ng-if="relationship_label == 'belongs_to' && filter.relationship_type == 'video' ">
                            {{ 'VIDEO_NAME_ASC' | translate }} [{{ 'DEFAULT' | translate }}]
                        </option>
                        <option value="video_name.desc" ng-if="relationship_label == 'belongs_to' && filter.relationship_type == 'video' ">
                            {{ 'VIDEO_NAME_DESC' | translate }}
                        </option>
                        <option value="overlay_name.asc" ng-if="relationship_label == 'belongs_to' && filter.relationship_type == 'overlay' ">
                            {{ 'OVERLAY_NAME_ASC' | translate }} [{{ 'DEFAULT' | translate }}]
                        </option>
                        <option value="overlay_name.desc" ng-if="relationship_label == 'belongs_to' && filter.relationship_type == 'overlay' ">
                            {{ 'OVERLAY_NAME_DESC' | translate }}
                        </option>

                        <!-- :connected_to options -->
                        <option value="start_location_name.asc" ng-if="relationship_label == 'connected_to' ">
                            {{ 'START_LOCATION_NAME_ASC' | translate }} [{{ 'DEFAULT' | translate }}]
                        </option>
                        <option value="start_location_name.desc" ng-if="relationship_label == 'connected_to' ">
                            {{ 'START_LOCATION_NAME_DESC' | translate }}
                        </option>
                        <option value="end_location_name.asc" ng-if="relationship_label == 'connected_to' ">
                            {{ 'END_LOCATION_NAME_ASC' | translate }}
                        </option>
                        <option value="end_location_name.desc" ng-if="relationship_label == 'connected_to' ">
                            {{ 'END_LOCATION_NAME_DESC' | translate }}
                        </option>

                        <!-- :has_parent_location options -->
                        <option value="child_location_name.asc" ng-if="relationship_label == 'has_parent_location' ">
                            {{ 'CHILD_LOCATION_NAME_ASC' | translate }} [{{ 'DEFAULT' | translate }}]
                        </option>
                        <option value="child_location_name.desc" ng-if="relationship_label == 'has_parent_location' ">
                            {{ 'CHILD_LOCATION_NAME_DESC' | translate }}
                        </option>
                        <option value="parent_location_name.asc" ng-if="relationship_label == 'has_parent_location' ">
                            {{ 'PARENT_LOCATION_NAME_ASC' | translate }}
                        </option>
                        <option value="parent_location_name.desc" ng-if="relationship_label == 'has_parent_location' ">
                            {{ 'PARENT_LOCATION_NAME_DESC' | translate }}
                        </option>

                        <!-- :recoreded_at options -->
                        <option value="video_name.asc" ng-if="relationship_label == 'recorded_at' ">
                            {{ 'VIDEO_NAME_ASC' | translate }} [{{ 'DEFAULT' | translate }}]
                        </option>
                        <option value="video_name.desc" ng-if="relationship_label == 'recorded_at' ">
                            {{ 'VIDEO_NAME_DESC' | translate }}
                        </option>
                        <option value="location_name.asc" ng-if="relationship_label == 'recorded_at' ">
                            {{ 'LOCATION_NAME_ASC' | translate }}
                        </option>
                        <option value="location_name.desc" ng-if="relationship_label == 'recorded_at' ">
                            {{ 'LOCATION_NAME_DESC' | translate }}
                        </option>

                        <!-- :embedded_in options -->
                        <option value="overlay_name.asc" ng-if="relationship_label == 'embedded_in' ">
                            {{ 'OVERLAY_NAME_ASC' | translate }} [{{ 'DEFAULT' | translate }}]
                        </option>
                        <option value="overlay_name.desc" ng-if="relationship_label == 'embedded_in' ">
                            {{ 'OVERLAY_NAME_DESC' | translate }}
                        </option>
                        <option value="video_name.asc" ng-if="relationship_label == 'embedded_in' ">
                            {{ 'VIDEO_NAME_ASC' | translate }}
                        </option>
                        <option value="video_name.desc" ng-if="relationship_label == 'embedded_in' ">
                            {{ 'VIDEO_NAME_DESC' | translate }}
                        </option>
                    </select>
                </div>
                <small class="form-text text-muted">{{ 'SORT_BY' | translate }}</small>
                <br>
            </div>
        </div>

        <!-- BELONGS_TO relationships -->
        <div class="list-group" ng-if="relationships.length > 0">
            <a href="" ng-click="redirect('/relationships/' + relationship_label + '/' + relationship.relationship_id + '/' + (filter.relationship_type || '') )" class="list-group-item list-group-item-action" ng-repeat="relationship in relationships">

                <!-- belongs_to -->
                <div style="width: 100%;" ng-if="relationship_label == 'belongs_to' ">
                    <!-- locations -->
                    <div style="width: 33.33333333%; float: left;" ng-if="filter.relationship_type == 'location'">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.location_name}}
                        <span class="badge" ng-class="{
                            'badge-primary': relationship.location_type=='outdoor',
                            'badge-default': relationship.location_type=='indoor',
                            'badge-success': relationship.location_type=='abstract'
                        }">{{relationship.location_type}}</span>
                        <br>
                        <img class="previewMap" ng-src="{{ relationship | previewMapRequest:relationship_label }}" alt="{{relationship.location_name}}" style="margin-top: 5px; width: 100%; height: auto;" ng-if="relationship.location_lat !== null && relationship.location_lng !== null">
                    </div>
                    <!-- videos -->
                    <div style="width: 33.33333333%; float: left;" ng-if="filter.relationship_type == 'video' ">
                        <i class="fa fa-file-video-o" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.video_name}}
                        <br>
                        <div
                            ng-if="relationship.thumbnails > 0"
                            style="
                                margin-top: 5px;
                                width: 100%;
                                height: auto;"
                            ng-mouseover="startPreview(relationship)"
                            ng-mouseout="stopPreview(relationship)"
                        >
                            <img ng-init="relationship.thumbnail = (relationship | thumbnail:1)" ng-src="{{relationship.thumbnail}}" class="previewVideo"
                            style="
                                max-width: 480px;
                                width: 100%;
                                max-height: 90px;
                                height: auto;">
                        </div>
                    </div>
                    <!-- overlays -->
                    <div style="width: 33.33333333%; float: left;" ng-if="filter.relationship_type == 'overlay' ">
                        <i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.overlay_name}}
                    </div>
                    <div class="middle" style="width: 33.33333333%; float: left; padding-left: 5px; padding-right: 5px;">
                        <span class="badge badge-pill badge-default">
                            &mdash;&nbsp;BELONGS_TO&nbsp;&mdash;&gt;
                        </span>
                    </div>
                    <div class="right" style="width: 33.33333333%; float: left;">
                        <i class="fa fa-flask" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.scenario_name}}
                    </div>
                </div>

                <!-- connected_to -->
                <div style="width: 100%;" ng-if="relationship_label == 'connected_to' ">
                    <div style="width: 33.33333333%; float: left;">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.start_location_name}}
                        <span class="badge" ng-class="{
                            'badge-primary': relationship.start_location_type=='outdoor',
                            'badge-default': relationship.start_location_type=='indoor',
                            'badge-success': relationship.start_location_type=='abstract'
                        }">{{relationship.start_location_type}}</span>
                        <br>
                        <img class="previewMap" ng-src="{{ relationship | previewMapRequest:relationship_label:true }}" alt="{{relationship.start_location_name}}" style="margin-top: 5px; width: 100%; height: auto;" ng-if="relationship.start_location_lat !== null && relationship.start_location_lng !== null">
                    </div>
                    <div class="middle" style="width: 33.33333333%; float: left;">
                        <span class="badge badge-pill badge-default">
                            &mdash;&nbsp;CONNECTED_TO&nbsp;&mdash;&gt;
                        </span>
                    </div>
                    <div class="right" style="width: 33.33333333%; float: left;">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.end_location_name}}
                        <span class="badge" ng-class="{
                            'badge-primary': relationship.end_location_type=='outdoor',
                            'badge-default': relationship.end_location_type=='indoor',
                            'badge-success': relationship.end_location_type=='abstract'
                        }">{{relationship.end_location_type}}</span>
                        <br>
                        <img class="previewMap" ng-src="{{ relationship | previewMapRequest:relationship_label:false }}" alt="{{relationship.end_location_name}}" style="margin-top: 5px; width: 100%; height: auto;" ng-if="relationship.end_location_lat !== null && relationship.end_location_lng !== null">
                    </div>
                </div>

                <!-- has_parent_location -->
                <div style="width: 100%;" ng-if="relationship_label == 'has_parent_location' ">
                    <div style="width: 33.33333333%; float: left;">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.child_location_name}}
                        <span class="badge" ng-class="{
                            'badge-primary': relationship.child_location_type=='outdoor',
                            'badge-default': relationship.child_location_type=='indoor',
                            'badge-success': relationship.child_location_type=='abstract'
                        }">{{relationship.child_location_type}}</span>
                        <br>
                        <img class="previewMap" ng-src="{{ relationship | previewMapRequest:relationship_label:true }}" alt="{{relationship.child_location_name}}" style="margin-top: 5px; width: 100%; height: auto;" ng-if="relationship.child_location_lat !== null && relationship.child_location_lng !== null">
                    </div>
                    <div class="middle" style="width: 33.33333333%; float: left;">
                        <span class="badge badge-pill badge-default">
                            &mdash;&nbsp;HAS_PARENT_LOCATION&nbsp;&mdash;&gt;
                        </span>
                    </div>
                    <div class="right" style="width: 33.33333333%; float: left;">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.parent_location_name}}
                        <span class="badge" ng-class="{
                            'badge-primary': relationship.parent_location_type=='outdoor',
                            'badge-default': relationship.parent_location_type=='indoor',
                            'badge-success': relationship.parent_location_type=='abstract'
                        }">{{relationship.parent_location_type}}</span>
                        <br>
                        <img class="previewMap" ng-src="{{ relationship | previewMapRequest:relationship_label:false }}" alt="{{relationship.parent_location_name}}" style="margin-top: 5px; width: 100%; height: auto;" ng-if="relationship.parent_location_lat !== null && relationship.parent_location_lng !== null">
                    </div>
                </div>

                <!-- recorded_at -->
                <div style="width: 100%;" ng-if="relationship_label == 'recorded_at' ">
                    <div style="width: 33.33333333%; float: left;">
                        <i class="fa fa-file-video-o" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.video_name}}
                        <br>
                        <div
                            ng-if="relationship.thumbnails > 0"
                            style="
                                margin-top: 5px;
                                width: 100%;
                                height: auto;"
                            ng-mouseover="startPreview(relationship)"
                            ng-mouseout="stopPreview(relationship)"
                        >
                            <img ng-init="relationship.thumbnail = (relationship | thumbnail:1)" ng-src="{{relationship.thumbnail}}" class="previewVideo"
                            style="
                                max-width: 480px;
                                width: 100%;
                                max-height: 90px;
                                height: auto;">
                        </div>
                    </div>
                    <div class="middle" style="width: 33.33333333%; float: left;">
                        <span class="badge badge-pill badge-default">
                            &mdash;&nbsp;RECORDED_AT&nbsp;&mdash;&gt;
                        </span>
                    </div>
                    <div class="right" style="width: 33.33333333%; float: left;">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.location_name}}
                        <span class="badge" ng-class="{
                            'badge-primary': relationship.location_type=='outdoor',
                            'badge-default': relationship.location_type=='indoor',
                            'badge-success': relationship.location_type=='abstract'
                        }">{{relationship.location_type}}</span>
                        <br>
                        <img class="previewMap" ng-src="{{ relationship | previewMapRequest:relationship_label }}" alt="{{relationship.location_name}}" style="margin-top: 5px; width: 100%; height: auto;" ng-if="relationship.location_lat !== null && relationship.location_lng !== null">
                    </div>
                </div>

                <!-- embedded_in -->
                <div style="width: 100%;" ng-if="relationship_label == 'embedded_in' ">
                    <div style="width: 33.33333333%; float: left;">
                        <i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.overlay_name}}
                    </div>
                    <div class="middle" style="width: 33.33333333%; float: left;">
                        <span class="badge badge-pill badge-default">
                            &mdash;&nbsp;EMBEDDED_IN&nbsp;&mdash;&gt;
                        </span>
                    </div>
                    <div class="right" style="width: 33.33333333%; float: left;">
                        <i class="fa fa-file-video-o" aria-hidden="true"></i>&nbsp;&nbsp;{{relationship.video_name}}
                        <br>
                        <div
                            ng-if="relationship.thumbnails > 0"
                            style="
                                margin-top: 5px;
                                width: 100%;
                                height: auto;"
                            ng-mouseover="startPreview(relationship)"
                            ng-mouseout="stopPreview(relationship)"
                        >
                            <img ng-init="relationship.thumbnail = (relationship | thumbnail:1)" ng-src="{{relationship.thumbnail}}" class="previewVideo"
                            style="
                                max-width: 480px;
                                width: 100%;
                                max-height: 90px;
                                height: auto;">
                        </div>
                    </div>
                </div>
            </a>
        </div>


        <div class="list-group" ng-if="!relationships || relationships.length == 0">
            <div class="list-group-item middle">
                - {{ 'NONE' | translate }} -
            </div>
        </div>

    </div>
    <div class="card-footer">

        <!-- Pagination -->
        <nav aria-label="pagination" id="pagination" class="d-flex w-100 justify-content-between">
            <ul class="pagination" ng-if="relationships.length > 0">
                <li class="page-item" ng-class="{ 'disabled': pagination.offset - pagination.limit < 0 }">
                    <a href="" class="page-link" ng-click="changeOffset(0)" ng-style="pagination.offset - pagination.limit < 0 && {'background-color':'#f7f7f9'}">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="page-item" ng-class="{ 'disabled': pagination.offset - pagination.limit < 0 }">
                    <a href="" class="page-link" ng-click="changeOffset(pagination.offset - pagination.limit)" ng-style="pagination.offset - pagination.limit < 0 && {'background-color':'#f7f7f9'}">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <ul class="pagination" ng-if="relationships.length > 0">
                <li
                    class="page-item disabled"
                    ng-if="pagination.offset >= (3 * pagination.limit)">
                    <a href="" class="page-link">...</a>
                </li>
                <li
                    class="page-item"
                    ng-class="{'active': pagination.offset == page.offset}"
                    ng-repeat="page in pages">
                    <a
                        href=""
                        class="page-link"
                        ng-if="
                            (page.offset >= pagination.offset - (2 * pagination.limit)) &&
                            (page.offset <= pagination.offset + (2 * pagination.limit))"
                        ng-click="changeOffset(page.offset)"
                    >
                        {{$index+1}}
                    </a>
                </li>
                <li
                    class="page-item disabled"
                    ng-if="pagination.offset <= ((pages.length-3) * pagination.limit)">
                    <a href="" class="page-link">...</a>
                </li>
            </ul>
            <ul class="pagination" ng-if="relationships.length > 0">
                <li class="page-item" ng-class="{ 'disabled': pagination.offset + pagination.limit >= pages[pages.length - 1].offset + pagination.limit }">
                    <a href="" class="page-link" ng-click="changeOffset(pagination.offset + pagination.limit)" ng-style="pagination.offset + pagination.limit >= pages[pages.length - 1].offset + pagination.limit && {'background-color':'#f7f7f9'}">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="page-item" ng-class="{ 'disabled': pagination.offset + pagination.limit >= pages[pages.length - 1].offset + pagination.limit }">
                    <a href="" class="page-link" ng-click="changeOffset(pages[pages.length - 1].offset)" ng-style="pagination.offset + pagination.limit >= pages[pages.length - 1].offset + pagination.limit && {'background-color':'#f7f7f9'}">
                        <b><i class="fa fa-angle-double-right" aria-hidden="true"></i></b>
                    </a>
                </li>
            </ul>
            <ul class="pagination" ng-if="relationships.length == 0">
                <li class="page-item disabled">
                    <div class="page-link" style="background-color: #f7f7f9;">
                        <b><i class="fa fa-angle-left" aria-hidden="true"></i></b>
                    </div>
                </li>
                <li class="page-item disabled">
                    <div class="page-link" style="background-color: #f7f7f9;">
                        <b><i class="fa fa-angle-double-left" aria-hidden="true"></i></b>
                    </div>
                </li>
            </ul>
            <ul class="pagination" ng-if="relationships.length == 0">
                <li class="page-item disabled">
                    <div class="page-link" style="background-color: #f7f7f9;">
                        0
                    </div>
                </li>
            </ul>
            <ul class="pagination" ng-if="relationships.length == 0">
                <li class="page-item disabled">
                    <div class="page-link" style="background-color: #f7f7f9;">
                        <b><i class="fa fa-angle-right" aria-hidden="true"></i></b>
                    </div>
                </li>
                <li class="page-item disabled">
                    <div class="page-link" style="background-color: #f7f7f9;">
                        <b><i class="fa fa-angle-double-right" aria-hidden="true"></i></b>
                    </div>
                </li>
            </ul>
        </nav>

    </div>
</div>
