<!DOCTYPE html>
<div class="card">
    <form class="form-horizontal" name="createScenarioForm" ng-submit="send()">
        <div class="card-header" style="font-size: 20pt;">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                    <i class="fa fa-flask" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'NEW_SCENARIO' | translate }}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 right">
                    <button class="btn btn-secondary" role="button" ng-click="redirect('/scenarios')">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <label>
                <b>{{ 'NAME' | translate }}*</b>
            </label>
            <div class="form-group" ng-class="{'has-danger': createScenarioForm.name.$invalid && !createScenarioForm.name.$pristine}">
                <input
                    type="text"
                    class="form-control"
                    ng-model="scenario.name"
                    name="name"
                    id="name"
                    placeholder="{{ 'NAME' | translate }}*"
                    aria-describedby="inputName"
                    autofocus
                    required>
                <span ng-show="createScenarioForm.name.$error.required && !createScenarioForm.name.$pristine" class="text-danger">
                    <small>
                        {{ 'REQUIRED' | translate }}
                    </small>
                </span>
            </div>
            <br>


            <label>
                <b>{{ 'DESCRIPTION' | translate }}</b>
            </label>
            <div class="form-group" ng-class="{'has-danger': createScenarioForm.description.$invalid && !createScenarioForm.description.$pristine }">
                <textarea
                    class="form-control"
                    rows="5"
                    placeholder="{{ 'DESCRIPTION' | translate }}" ng-model="scenario.description"
                    name="description"
                    id="description"></textarea>
            </div>
        </div>
        <div class="card-footer right">
            <button class="btn btn-success" role="submit">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SEND' | translate }}
            </button>
        </div>
    </form>
</div>
