<!DOCTYPE html>
<div class="card">
    <form class="form-horizontal" name="editScenarioForm" ng-submit="send()">
        <div class="card-header" style="font-size: 20pt;">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                    <i class="fa fa-flask" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'EDIT' | translate }} {{scenario.name}}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 right">
                    <button class="btn btn-secondary" type="button" ng-click="redirect('/scenarios/' + scenario.scenario_id)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <label>
                <b>{{ 'NAME' | translate }}</b> <sup class="text-danger">*</sup>
            </label>
            <div class="form-group" ng-class="{'has-danger': editScenarioForm.name.$invalid && !editScenarioForm.name.$pristine}">
                <input
                    type="text"
                    class="form-control"
                    ng-model="scenario.name"
                    name="name"
                    id="name"
                    placeholder="{{ 'NAME' | translate }}"
                    aria-describedby="inputName"
                    autofocus
                    required>
                <span ng-show="editScenarioForm.name.$error.required && !editScenarioForm.name.$pristine" class="text-danger">
                    <small>
                        {{ 'REQUIRED' | translate }}
                    </small>
                </span>
            </div>
            <br>

            <label>
                <b>{{ 'DESCRIPTION' | translate }}</b>
            </label>
            <div class="form-group" ng-class="{'has-danger': editScenarioForm.description.$invalid && !editScenarioForm.description.$pristine }">
                <textarea
                    class="form-control"
                    rows="5"
                    placeholder="{{ 'DESCRIPTION' | translate }}" ng-model="scenario.description"
                    name="description"
                    id="description"></textarea>
            </div>
        </div>
        <div class="card-footer right">
            <button class="btn btn-success" type="submit">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SAVE' | translate }}
            </button>
        </div>
    </form>
</div>
