<!DOCTYPE html>
<div class="card">
    <form class="form-horizontal" name="editScenarioForm" ng-submit="send()">
        <div class="card-header" style="font-size: 20pt;">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                    <i class="fa fa-file-video-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'EDIT' | translate }} {{video.name}}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 right">
                    <button class="btn btn-secondary" role="button" ng-click="redirect('/videos/' + video.video_id)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <label>
                <b>{{ 'NAME' | translate }}*</b>
            </label>
            <div class="form-group" ng-class="{'has-danger': editVideoForm.name.$invalid && !editVideoForm.name.$pristine}">
                <input
                    type="text"
                    class="form-control"
                    ng-model="video.name"
                    name="name"
                    id="name"
                    placeholder="{{ 'NAME' | translate }}*"
                    aria-describedby="inputName"
                    autofocus
                    required>
                <span ng-show="editVideoForm.name.$error.required && !editVideoForm.name.$pristine" class="text-danger">
                    <small>
                        {{ 'REQUIRED' | translate }}
                    </small>
                </span>
            </div>
            <br>

            <label>
                <b>{{ 'DESCRIPTION' | translate }}</b>
            </label>
            <div class="form-group" ng-class="{'has-danger': editVideoForm.description.$invalid && !editVideoForm.description.$pristine }">
                <textarea
                    class="form-control"
                    rows="5"
                    placeholder="{{ 'DESCRIPTION' | translate }}" ng-model="video.description"
                    name="description"
                    id="description"></textarea>
            </div>
            <br>

            <label>
                <b>{{ 'URL' | translate }}*</b>
            </label>
            <div class="form-group" ng-class="{'has-danger': editVideoForm.url.$invalid && !editVideoForm.url.$pristine}">
                <input
                    type="url"
                    class="form-control"
                    ng-model="video.url"
                    name="url"
                    id="url"
                    placeholder="{{ 'URL' | translate }}*"
                    aria-describedby="inputUrl"
                    required>
                <span ng-show="editVideoForm.url.$error.required && !editVideoForm.url.$pristine" class="text-danger">
                    <small>
                        {{ 'REQUIRED' | translate }}
                    </small>
                </span>
            </div>
            <br>

            <label>
                <b>{{ 'RECORDED' | translate }}</b>
            </label>
            <div class="form-group" ng-class="{'has-danger': editVideoForm.recorded.$invalid && !editVideoForm.recorded.$pristine}">
                <input
                    type="datetime"
                    class="form-control"
                    ng-model="video.recorded"
                    name="recorded"
                    id="recorded"
                    placeholder="{{ 'RECORDED' | translate }}"
                    aria-describedby="inputRecorded"
                    >
            </div>

        </div>
        <div class="card-footer right">
            <button class="btn btn-success" role="submit">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SAVE' | translate }}
            </button>
        </div>
    </form>
</div>
