<!DOCTYPE html>
<div class="card">
    <form class="form-horizontal" name="editScenarioForm" ng-submit="send()">
        <div class="card-header" style="font-size: 20pt;">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                    <i class="fa fa-file-video-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'EDIT' | translate }} {{video.name}}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 right">
                    <button class="btn btn-danger" type="button" ng-click="redirect('/videos/' + video.video_id)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <label>
                <b>{{ 'NAME' | translate }}</b> <sup class="text-danger">*</sup>
            </label>
            <div class="form-group" ng-class="{'has-danger': editVideoForm.name.$invalid && !editVideoForm.name.$pristine}">
                <input
                    type="text"
                    class="form-control"
                    ng-model="video.name"
                    name="name"
                    id="name"
                    placeholder="{{ 'NAME' | translate }}"
                    aria-describedby="inputName"
                    autofocus
                    required>
                <span ng-show="editVideoForm.name.$error.required && !editVideoForm.name.$pristine" class="text-danger">
                    <small>
                        {{ 'REQUIRED' | translate }}
                    </small>
                </span>
            </div>
            <br>

            <label>
                <b>{{ 'DESCRIPTION' | translate }}</b>
            </label>
            <div class="form-group" ng-class="{'has-danger': editVideoForm.description.$invalid && !editVideoForm.description.$pristine }">
                <textarea
                    class="form-control"
                    rows="5"
                    placeholder="{{ 'DESCRIPTION' | translate }}" ng-model="video.description"
                    name="description"
                    id="description"></textarea>
            </div>
            <br>

            <label>
                <b>{{ 'URL' | translate }}</b> <sup class="text-danger">*</sup>
                <small>({{ 'NO_FILENAME_EXTENSION_REQUIRED' | translate }})</small>
            </label>
            <div class="form-group" ng-class="{'has-danger': editVideoForm.url.$invalid && !editVideoForm.url.$pristine}">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-file-video-o" aria-hidden="true"></i>
                    </div>
                    <input
                        type="text"
                        class="form-control"
                        ng-model="video.url"
                        name="url"
                        id="url"
                        placeholder="{{ 'URL' | translate }}"
                        aria-describedby="inputUrl"
                        required>
                    <div class="input-group-addon">
                        .mp4 / .ogg
                    </div>
                </div>
                <small class="form-text text-muted">
                    <b>{{ 'EXAMPLE' | translate }}</b>: <code>/geo1</code> {{ 'FOR_THE_FILES' | translate }} <code>geo1.mp4</code> {{ 'AND' | translate }} <code>geo1.ogg</code>
                </small>
                <span ng-show="editVideoForm.url.$error.required && !editVideoForm.url.$pristine" class="text-danger">
                    <small>
                        {{ 'REQUIRED' | translate }}
                    </small>
                </span>
            </div>
            <br>

            <label>
                <b>{{ 'THUMBNAILS' | translate }}</b> <sup class="text-danger">*</sup>
                <small>({{ 'AMOUNT_OF_THUMBNAILS' | translate }})</small>
            </label>
            <div class="form-group" ng-class="{'has-danger': editVideoForm.thumbnails.$invalid && !editVideoForm.thumbnails.$pristine}">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                    </div>
                    <input
                        type="number"
                        class="form-control"
                        ng-model="video.thumbnails"
                        name="thumbnails"
                        id="thumbnails"
                        min="0"
                        step="1"
                        placeholder="{{ 'THUMBNAILS' | translate }}"
                        aria-describedby="inputThumbnails"
                        required>
                </div>
                <small class="form-text text-muted">
                    <b>{{ 'EXAMPLE' | translate }}</b>: <code>42</code> {{ 'FOR_LAST_ITEM_IN_THE_FOLDER' | translate }} <code>{{config.thumbnailFolder}}/video_uuid/42.jpg</code>
                </small>
                <small class="form-text text-muted">
                    <b>{{ 'ATTENTION' | translate }}</b>: {{ 'USE_THE_UUID_FOR_THE_THUMBNAILS' | translate }}
                </small>
                <span ng-show="editVideoForm.thumbnails.$error.required && !editVideoForm.thumbnails.$pristine" class="text-danger">
                    <small>
                        {{ 'REQUIRED' | translate }}
                    </small>
                </span>
            </div>
            <br>

            <label>
                <b>{{ 'RECORDED' | translate }}</b>
            </label>
            <div class="form-group" ng-class="{'has-danger': editVideoForm.recorded.$invalid && !editVideoForm.recorded.$pristine}">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                    <input
                        type="datetime"
                        class="form-control"
                        ng-model="video.recorded"
                        name="recorded"
                        id="recorded"
                        placeholder="{{ 'RECORDED' | translate }}"
                        aria-describedby="inputRecorded"
                        >
                </div>
            </div>

        </div>
        <div class="card-footer right">
            <button class="btn btn-success" type="submit">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SAVE' | translate }}
            </button>
        </div>
    </form>
</div>
