<!DOCTYPE html>
<!-- LOADING -->
<div class="loading" ng-show="tab==0">
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
</div>

<!-- MAIN -->
<div class="row" ng-show="tab>0">
    <!-- Left padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>

    <!-- Content -->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">
        <br>

        <!-- BUTTONS -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 right">
                <div class="btn-group" role="group" aria-label="buttons">
                    <a href="" class="btn btn-danger" ng-click="redirect('/overlays/' + overlay.overlay_id + '/delete')">
                        <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'DELETE' | translate}}
                    </a>
                </div>
            </div>
        </div>
        <br>

        <!-- MAIN -->
        <div class="card" ng-show="tab==1">
            <form class="form-horizontal" name="editOverlayForm" ng-submit="send()">
                <div class="card-header middle" style="font-size: 20pt;">
                    <i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'EDIT' | translate }} {{ 'OVERLAY' | translate }}
                </div>
                <div class="card-block">
                    <br>
                    <label>
                        <b>{{ 'NAME' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': editOverlayForm.name.$invalid && !editOverlayForm.name.$pristine}">
                        <input
                            type="text"
                            class="form-control"
                            ng-model="overlay.name"
                            name="name"
                            id="name"
                            placeholder="{{ 'NAME' | translate }}*"
                            aria-describedby="inputName"
                            autofocus
                            required>
                        <span ng-show="editOverlayForm.name.$error.required && !editOverlayForm.name.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>

                    <label>
                        <b>{{ 'DESCRIPTION' | translate }}</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': editOverlayForm.description.$invalid && !editOverlayForm.description.$pristine }">
                        <textarea
                            class="form-control"
                            rows="5"
                            placeholder="{{ 'DESCRIPTION' | translate }}" ng-model="overlay.description"
                            name="description"
                            id="description"></textarea>
                    </div>
                    <br>

                    <label>
                        <b>{{ 'CATEGORY' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': editOverlayForm.category.$invalid && !editOverlayForm.category.$pristine }">
                        <select
                            class="form-control custom-select"
                            ng-model="overlay.category"
                            name="category"
                            id="category"
                            required>
                            <option value="website">{{ 'WEBSITE' | translate}}</option>
                            <option value="picture">{{ 'PICTURE' | translate}}</option>
                            <option value="video">{{ 'VIDEO' | translate}}</option>
                        </select>
                        <span ng-show="editOverlayForm.category.$error.required && !editOverlayForm.category.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>

                    <label>
                        <b>{{ 'URL' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': editOverlayForm.url.$invalid && !editOverlayForm.url.$pristine}">
                        <input
                            type="url"
                            class="form-control"
                            ng-model="overlay.url"
                            name="url"
                            id="url"
                            placeholder="{{ 'URL' | translate }}*"
                            aria-describedby="inputUrl"
                            required>
                        <span ng-show="editOverlayForm.url.$error.required && !editOverlayForm.url.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>

                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-secondary btn-block" role="button" ng-click="redirect('/overlays/' + overlay.overlay_id)">
                                <i class="fa fa-ban" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'CANCEL' | translate }}
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-success btn-block" role="submit">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SAVE' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br>
    </div>

    <!-- Right padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>
</div>
